RAG_Automation_System_2.json
{
  "name": "RAG Automation System 2",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 * * * *"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -2400,
        -1080
      ],
      "id": "0223a685-07cd-490c-8ed1-2846374414b6",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "1-XOMgeYY9mbEL3g_rqvZun9EYFmEe8Ve",
            "mode": "list",
            "cachedResultName": "Eskimi",
            "cachedResultUrl": "https://drive.google.com/drive/folders/1-XOMgeYY9mbEL3g_rqvZun9EYFmEe8Ve"
          },
          "whatToSearch": "files"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -2180,
        -1080
      ],
      "id": "0df3bb0e-d344-4a31-b94e-f406f3d4bc30",
      "name": "Google Drive",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "JwhRaVdCNV9my2hQ",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5c9c15cb-752c-4d99-93c6-0d2929c67275",
              "name": "file_id",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "54077d26-fa38-4afb-b855-cc6b351243d2",
              "name": "file_name",
              "value": "={{ $json.name }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1960,
        -1080
      ],
      "id": "4964e2ae-7b5e-4bb8-bad2-55d468ab6c78",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.file_id }}",
          "mode": "id"
        },
        "options": {
          "googleFileConversion": {
            "conversion": {
              "docsToFormat": "text/plain",
              "slidesToFormat": "application/pdf"
            }
          }
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -1740,
        -1080
      ],
      "id": "39899e0d-7ec3-4dc8-a8fd-c02d5d310686",
      "name": "Google Drive1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "JwhRaVdCNV9my2hQ",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "adb7c768-3790-4049-be82-55b681e0cfc2",
              "leftValue": "={{ $json.file_name }}",
              "rightValue": "Copy of Campaign data",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1520,
        -1080
      ],
      "id": "a9f9fdbc-371c-42fe-a5c8-d164de8a6354",
      "name": "If"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -1180,
        -1200
      ],
      "id": "279e9456-57ba-4efe-9967-954e0413b135",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "operation": "text",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -1180,
        -840
      ],
      "id": "6bbe7bb3-cb0a-467d-ab18-34e5828ab3a6",
      "name": "Extract from File1"
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.2,
      "position": [
        -840,
        -640
      ],
      "id": "2dcdc565-845f-4546-ae00-8652e755da74",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "XzIx7X1F6joGgbTX",
          "name": "Supabase account 2"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "file_id",
                "value": "={{ $('Edit Fields').item.json.file_id }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        -700,
        -460
      ],
      "id": "442c928b-3e4b-414d-99a9-fb9c695175da",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        -800,
        -300
      ],
      "id": "ad5c4eb6-67b9-4719-939c-c098277fe64f",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "model": "nomic-embed-text:latest"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOllama",
      "typeVersion": 1,
      "position": [
        -940,
        -480
      ],
      "id": "c1bfad9d-97e4-4217-bf98-b7e951a32641",
      "name": "Embeddings Ollama",
      "credentials": {
        "ollamaApi": {
          "id": "h1TdEDWKTTNccSwj",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.2,
      "position": [
        -980,
        -1200
      ],
      "id": "791a2708-29b8-48ab-8358-dfa544444ff6",
      "name": "Supabase Vector Store1",
      "credentials": {
        "supabaseApi": {
          "id": "XzIx7X1F6joGgbTX",
          "name": "Supabase account 2"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "file_id",
                "value": "={{ $('Edit Fields').item.json.file_id }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        -800,
        -1000
      ],
      "id": "07cc1aa8-b182-4faa-9ef2-5b67f1a5f7a4",
      "name": "Default Data Loader1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        -900,
        -840
      ],
      "id": "6984d306-b9e5-42e2-8d8d-afe6a0a0b46e",
      "name": "Recursive Character Text Splitter1"
    },
    {
      "parameters": {
        "model": "nomic-embed-text:latest"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOllama",
      "typeVersion": 1,
      "position": [
        -1020,
        -1000
      ],
      "id": "f731275f-c46f-42a9-b7a2-ba0ec2ba2c7a",
      "name": "Embeddings Ollama1",
      "credentials": {
        "ollamaApi": {
          "id": "h1TdEDWKTTNccSwj",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -2400,
        -860
      ],
      "id": "15be3889-d6ed-4958-aa78-78b6ee1afd8d",
      "name": "When chat message received",
      "webhookId": "e1bcdc1a-0b6d-4f8a-bc28-eccd0d591d7b"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "You are a helpful assistant. You will use vector database to retrieve useful information and respond to the user's query. "
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        -2180,
        -860
      ],
      "id": "d03643aa-1143-441c-9b22-0c3ca1551e1b",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "mistral:latest",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        -2280,
        -660
      ],
      "id": "aef15157-8657-4671-8c68-ff13a288dc0e",
      "name": "Ollama Chat Model",
      "credentials": {
        "ollamaApi": {
          "id": "h1TdEDWKTTNccSwj",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        -2140,
        -600
      ],
      "id": "bd8ffbd3-12eb-4441-8540-9f778804346a",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "RkosZp0bbYsrHRMI",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "description": "Retrieve information about the company. "
      },
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1.1,
      "position": [
        -1960,
        -640
      ],
      "id": "8eca3f7e-f39d-4d51-a9af-82e32f97512b",
      "name": "Answer questions with a vector store"
    },
    {
      "parameters": {
        "model": "mistral:latest",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        -1740,
        -440
      ],
      "id": "f3397dc2-b97e-48d7-9f87-394c71437a23",
      "name": "Ollama Chat Model1",
      "credentials": {
        "ollamaApi": {
          "id": "h1TdEDWKTTNccSwj",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {
          "queryName": "match_documents"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.2,
      "position": [
        -2080,
        -440
      ],
      "id": "c39a2c20-6115-4d0f-91bc-365f2d431ef5",
      "name": "Supabase Vector Store2",
      "credentials": {
        "supabaseApi": {
          "id": "XzIx7X1F6joGgbTX",
          "name": "Supabase account 2"
        }
      }
    },
    {
      "parameters": {
        "model": "nomic-embed-text:latest"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOllama",
      "typeVersion": 1,
      "position": [
        -2160,
        -300
      ],
      "id": "2e9d9b84-8ee7-40c9-85cf-b9b5cfae0512",
      "name": "Embeddings Ollama2",
      "credentials": {
        "ollamaApi": {
          "id": "h1TdEDWKTTNccSwj",
          "name": "Ollama account"
        }
      }
    }
  ],
  "pinData": {
    "Extract from File": [
      {
        "json": {
          "AM": "Eskimi - Rita AM",
          "Campaign ID": "12345",
          "Campaign name": "Campaign 1",
          "Country": "Latvia",
          "Impressions": "40296",
          "VR": "0.9875670042",
          "Revenue": "138.65",
          "CPM": "3.440788168",
          "CTR": "0.005236251737",
          "CPC": "0.6571090047"
        }
      },
      {
        "json": {
          "AM": "Eskimi - Rita AM",
          "Campaign ID": "12346",
          "Campaign name": "Campaign 2",
          "Country": "Latvia",
          "Impressions": "237719",
          "VR": "0",
          "Revenue": "531.05",
          "CPM": "2.233940072",
          "CTR": "0.0008076762901",
          "CPC": "2.765885417"
        }
      },
      {
        "json": {
          "AM": "Eskimi - Rita AM",
          "Campaign ID": "12347",
          "Campaign name": "Campaign 3",
          "Country": "Latvia",
          "Impressions": "459836",
          "VR": "0",
          "Revenue": "1245.59",
          "CPM": "2.708770083",
          "CTR": "0.001035151663",
          "CPC": "2.616785714"
        }
      },
      {
        "json": {
          "AM": "Eskimi - Rita AM",
          "Campaign ID": "12348",
          "Campaign name": "Campaign 4",
          "Country": "Latvia",
          "Impressions": "20684",
          "VR": "0.002610713595",
          "Revenue": "171.55",
          "CPM": "8.293850319",
          "CTR": "0.002078901566",
          "CPC": "3.989534884"
        }
      },
      {
        "json": {
          "AM": "Eskimi - Rita AM",
          "Campaign ID": "12349",
          "Campaign name": "Campaign 5",
          "Country": "Latvia",
          "Impressions": "529799",
          "VR": "0.1226767132",
          "Revenue": "1740.99",
          "CPM": "3.286133043",
          "CTR": "0.004046817755",
          "CPC": "0.8120289179"
        }
      },
      {
        "json": {
          "AM": "Eskimi - Rita AM",
          "Campaign ID": "12350",
          "Campaign name": "Campaign 6",
          "Country": "Latvia",
          "Impressions": "1550525",
          "VR": "0.3813392238",
          "Revenue": "6373.32",
          "CPM": "4.110427113",
          "CTR": "0.004108285903",
          "CPC": "1.000521193"
        }
      },
      {
        "json": {
          "AM": "Eskimi - Rita AM",
          "Campaign ID": "12351",
          "Campaign name": "Campaign 7",
          "Country": "Latvia",
          "Impressions": "412851",
          "VR": "0.3577271219",
          "Revenue": "2389.62",
          "CPM": "5.788093041",
          "CTR": "0.01813244972",
          "CPC": "0.3192118621"
        }
      },
      {
        "json": {
          "AM": "Eskimi - Rita AM",
          "Campaign ID": "12352",
          "Campaign name": "Campaign 8",
          "Country": "Latvia",
          "Impressions": "446295",
          "VR": "0",
          "Revenue": "2383.87",
          "CPM": "5.341466967",
          "CTR": "0.0007147738603",
          "CPC": "7.472946708"
        }
      },
      {
        "json": {
          "AM": "Eskimi - Rita AM",
          "Campaign ID": "12353",
          "Campaign name": "Campaign 9",
          "Country": "Latvia",
          "Impressions": "185445",
          "VR": "0.0214349268",
          "Revenue": "1219.8",
          "CPM": "6.577691499",
          "CTR": "0.002458950093",
          "CPC": "2.675"
        }
      },
      {
        "json": {
          "AM": "Eskimi - Rita AM",
          "Campaign ID": "12354",
          "Campaign name": "Campaign 10",
          "Country": "Latvia",
          "Impressions": "841224",
          "VR": "0.9652530123",
          "Revenue": "1135.24",
          "CPM": "1.349509762",
          "CTR": "0.0009462402404",
          "CPC": "1.426180905"
        }
      },
      {
        "json": {
          "AM": "Eskimi - Rita AM",
          "Campaign ID": "12355",
          "Campaign name": "Campaign 11",
          "Country": "Latvia",
          "Impressions": "252238",
          "VR": "0.9513277143",
          "Revenue": "531.63",
          "CPM": "2.107652297",
          "CTR": "0.0003250897961",
          "CPC": "6.483292683"
        }
      },
      {
        "json": {
          "AM": "Eskimi - Rita AM",
          "Campaign ID": "12356",
          "Campaign name": "Campaign 12",
          "Country": "Latvia",
          "Impressions": "83449",
          "VR": "0.9585495332",
          "Revenue": "260.61",
          "CPM": "3.122985296",
          "CTR": "0.000826852329",
          "CPC": "3.776956522"
        }
      },
      {
        "json": {
          "AM": "Eskimi - Rita AM",
          "Campaign ID": "12357",
          "Campaign name": "Campaign 13",
          "Country": "Latvia",
          "Impressions": "83459",
          "VR": "0.9558465834",
          "Revenue": "260.51",
          "CPM": "3.121412909",
          "CTR": "0.0008986448436",
          "CPC": "3.473466667"
        }
      },
      {
        "json": {
          "AM": "Eskimi - Rita AM",
          "Campaign ID": "12358",
          "Campaign name": "Campaign 14",
          "Country": "Latvia",
          "Impressions": "394066",
          "VR": "0.9567864266",
          "Revenue": "930.61",
          "CPM": "2.361558724",
          "CTR": "0.0004846903818",
          "CPC": "4.872303665"
        }
      },
      {
        "json": {
          "AM": "Eskimi - Narmin",
          "Campaign ID": "12359",
          "Campaign name": "Campaign 15",
          "Country": "Latvia",
          "Impressions": "2382560",
          "VR": "0.970657612",
          "Revenue": "2373.27",
          "CPM": "0.9961008327",
          "CTR": "0.001184020549",
          "CPC": "0.8412867777"
        }
      },
      {
        "json": {
          "AM": "Eskimi - Rita AM",
          "Campaign ID": "12360",
          "Campaign name": "Campaign 16",
          "Country": "Latvia",
          "Impressions": "45998",
          "VR": "0.9791512674",
          "Revenue": "79.35",
          "CPM": "1.725075003",
          "CTR": "0.002347928171",
          "CPC": "0.7347222222"
        }
      },
      {
        "json": {
          "AM": "Eskimi - Rita AM",
          "Campaign ID": "12361",
          "Campaign name": "Campaign 17",
          "Country": "Latvia",
          "Impressions": "46094",
          "VR": "0.9792380787",
          "Revenue": "79.35",
          "CPM": "1.721482189",
          "CTR": "0.002191174556",
          "CPC": "0.7856435644"
        }
      },
      {
        "json": {
          "AM": "Eskimi - Rita AM",
          "Campaign ID": "12362",
          "Campaign name": "Campaign 18",
          "Country": "Latvia",
          "Impressions": "368332",
          "VR": "0.9761790993",
          "Revenue": "653.53",
          "CPM": "1.774296016",
          "CTR": "0.001504077843",
          "CPC": "1.17965704"
        }
      },
      {
        "json": {
          "AM": "Eskimi - Rita AM",
          "Campaign ID": "12363",
          "Campaign name": "Campaign 19",
          "Country": "Latvia",
          "Impressions": "377528",
          "VR": "0.9739198152",
          "Revenue": "761.93",
          "CPM": "2.018207921",
          "CTR": "0.001819732576",
          "CPC": "1.109068413"
        }
      },
      {
        "json": {
          "AM": "Eskimi - Rita AM",
          "Campaign ID": "12364",
          "Campaign name": "Campaign 20",
          "Country": "Latvia",
          "Impressions": "436695",
          "VR": "0.9732055554",
          "Revenue": "761.99",
          "CPM": "1.744902048",
          "CTR": "0.001529671739",
          "CPC": "1.140703593"
        }
      },
      {
        "json": {
          "AM": "Eskimi - Rita AM",
          "Campaign ID": "12365",
          "Campaign name": "Campaign 21",
          "Country": "Latvia",
          "Impressions": "227279",
          "VR": "0.9590063314",
          "Revenue": "524.12",
          "CPM": "2.306064353",
          "CTR": "0.0002507930781",
          "CPC": "9.195087719"
        }
      },
      {
        "json": {
          "AM": "Eskimi - Rita AM",
          "Campaign ID": "12366",
          "Campaign name": "Campaign 22",
          "Country": "Latvia",
          "Impressions": "454558",
          "VR": "0.9624778356",
          "Revenue": "1048.33",
          "CPM": "2.306262347",
          "CTR": "0.0002683925924",
          "CPC": "8.592868852"
        }
      },
      {
        "json": {
          "AM": "Eskimi - Rita AM",
          "Campaign ID": "12367",
          "Campaign name": "Campaign 23",
          "Country": "Latvia",
          "Impressions": "227307",
          "VR": "0.9685227468",
          "Revenue": "525.29",
          "CPM": "2.310927512",
          "CTR": "0.0002639601948",
          "CPC": "8.754833333"
        }
      },
      {
        "json": {
          "AM": "Eskimi - Rita AM",
          "Campaign ID": "12368",
          "Campaign name": "Campaign 24",
          "Country": "Latvia",
          "Impressions": "215976",
          "VR": "0",
          "Revenue": "1578.75",
          "CPM": "7.309839982",
          "CTR": "0.002764196022",
          "CPC": "2.644472362"
        }
      },
      {
        "json": {
          "AM": "Eskimi - Yana",
          "Campaign ID": "12369",
          "Campaign name": "Campaign 25",
          "Country": "Latvia",
          "Impressions": "5829",
          "VR": "0.881111683",
          "Revenue": "14.57",
          "CPM": "2.49957111",
          "CTR": "0.0008577800652",
          "CPC": "2.914"
        }
      },
      {
        "json": {
          "AM": "Eskimi - Yana",
          "Campaign ID": "12370",
          "Campaign name": "Campaign 26",
          "Country": "Latvia",
          "Impressions": "2662",
          "VR": "0",
          "Revenue": "13.6",
          "CPM": "5.108940646",
          "CTR": "0.002629601803",
          "CPC": "1.942857143"
        }
      },
      {
        "json": {
          "Campaign ID": "12371",
          "Campaign name": "Campaign 27",
          "Country": "Latvia",
          "Impressions": "358120",
          "VR": "0.9970680219",
          "Revenue": "2048.59",
          "CPM": "5.720400983",
          "CTR": "0",
          "CPC": "0"
        }
      },
      {
        "json": {
          "Campaign ID": "12372",
          "Campaign name": "Campaign 28",
          "Country": "Latvia",
          "Impressions": "129862",
          "VR": "0",
          "Revenue": "1510.03",
          "CPM": "11.62795891",
          "CTR": "0",
          "CPC": "0"
        }
      },
      {
        "json": {
          "AM": "Eskimi - Rita AM",
          "Campaign ID": "12373",
          "Campaign name": "Campaign 29",
          "Country": "Latvia",
          "Impressions": "377702",
          "VR": "0.7399166539",
          "Revenue": "697.52",
          "CPM": "1.846746906",
          "CTR": "0.00002382830909",
          "CPC": "77.50222222"
        }
      },
      {
        "json": {
          "AM": "Eskimi - Rita AM",
          "Campaign ID": "12374",
          "Campaign name": "Campaign 30",
          "Country": "Latvia",
          "Impressions": "1172480",
          "VR": "0.7538832219",
          "Revenue": "1039.93",
          "CPM": "0.8869490311",
          "CTR": "0.000586790393",
          "CPC": "1.511526163"
        }
      },
      {
        "json": {
          "AM": "Eskimi - Bukayo",
          "Campaign ID": "12375",
          "Campaign name": "Campaign 31",
          "Country": "Latvia",
          "Impressions": "95451",
          "VR": "0.9568260154",
          "Revenue": "38.18",
          "CPM": "0.3999958094",
          "CTR": "0.001120994018",
          "CPC": "0.3568224299"
        }
      }
    ],
    "Supabase Vector Store1": [
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "line": 1,
            "loc": {
              "lines": {
                "from": 1,
                "to": 1
              }
            },
            "file_id": "1aR-9OvaP3ai5mtQtdy7lGcCSkdf61YbEYnGJMyvN2aQ"
          },
          "pageContent": "Eskimi - Rita AM"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "line": 2,
            "loc": {
              "lines": {
                "from": 1,
                "to": 1
              }
            },
            "file_id": "1aR-9OvaP3ai5mtQtdy7lGcCSkdf61YbEYnGJMyvN2aQ"
          },
          "pageContent": "12345"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "line": 3,
            "loc": {
              "lines": {
                "from": 1,
                "to": 1
              }
            },
            "file_id": "1aR-9OvaP3ai5mtQtdy7lGcCSkdf61YbEYnGJMyvN2aQ"
          },
          "pageContent": "Campaign 1"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "line": 4,
            "loc": {
              "lines": {
                "from": 1,
                "to": 1
              }
            },
            "file_id": "1aR-9OvaP3ai5mtQtdy7lGcCSkdf61YbEYnGJMyvN2aQ"
          },
          "pageContent": "Latvia"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "line": 5,
            "loc": {
              "lines": {
                "from": 1,
                "to": 1
              }
            },
            "file_id": "1aR-9OvaP3ai5mtQtdy7lGcCSkdf61YbEYnGJMyvN2aQ"
          },
          "pageContent": "40296"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "line": 6,
            "loc": {
              "lines": {
                "from": 1,
                "to": 1
              }
            },
            "file_id": "1aR-9OvaP3ai5mtQtdy7lGcCSkdf61YbEYnGJMyvN2aQ"
          },
          "pageContent": "0.9875670042"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "line": 7,
            "loc": {
              "lines": {
                "from": 1,
                "to": 1
              }
            },
            "file_id": "1aR-9OvaP3ai5mtQtdy7lGcCSkdf61YbEYnGJMyvN2aQ"
          },
          "pageContent": "138.65"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "line": 8,
            "loc": {
              "lines": {
                "from": 1,
                "to": 1
              }
            },
            "file_id": "1aR-9OvaP3ai5mtQtdy7lGcCSkdf61YbEYnGJMyvN2aQ"
          },
          "pageContent": "3.440788168"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "line": 9,
            "loc": {
              "lines": {
                "from": 1,
                "to": 1
              }
            },
            "file_id": "1aR-9OvaP3ai5mtQtdy7lGcCSkdf61YbEYnGJMyvN2aQ"
          },
          "pageContent": "0.005236251737"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "line": 10,
            "loc": {
              "lines": {
                "from": 1,
                "to": 1
              }
            },
            "file_id": "1aR-9OvaP3ai5mtQtdy7lGcCSkdf61YbEYnGJMyvN2aQ"
          },
          "pageContent": "0.6571090047"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "line": 1,
            "loc": {
              "lines": {
                "from": 1,
                "to": 1
              }
            },
            "file_id": "1aR-9OvaP3ai5mtQtdy7lGcCSkdf61YbEYnGJMyvN2aQ"
          },
          "pageContent": "Eskimi - Rita AM"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "line": 2,
            "loc": {
              "lines": {
                "from": 1,
                "to": 1
              }
            },
            "file_id": "1aR-9OvaP3ai5mtQtdy7lGcCSkdf61YbEYnGJMyvN2aQ"
          },
          "pageContent": "12346"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "line": 3,
            "loc": {
              "lines": {
                "from": 1,
                "to": 1
              }
            },
            "file_id": "1aR-9OvaP3ai5mtQtdy7lGcCSkdf61YbEYnGJMyvN2aQ"
          },
          "pageContent": "Campaign 2"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "line": 4,
            "loc": {
              "lines": {
                "from": 1,
                "to": 1
              }
            },
            "file_id": "1aR-9OvaP3ai5mtQtdy7lGcCSkdf61YbEYnGJMyvN2aQ"
          },
          "pageContent": "Latvia"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "line": 5,
            "loc": {
              "lines": {
                "from": 1,
                "to": 1
              }
            },
            "file_id": "1aR-9OvaP3ai5mtQtdy7lGcCSkdf61YbEYnGJMyvN2aQ"
          },
          "pageContent": "237719"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "line": 6,
            "loc": {
              "lines": {
                "from": 1,
                "to": 1
              }
            },
            "file_id": "1aR-9OvaP3ai5mtQtdy7lGcCSkdf61YbEYnGJMyvN2aQ"
          },
          "pageContent": "0"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "line": 7,
            "loc": {
              "lines": {
                "from": 1,
                "to": 1
              }
            },
            "file_id": "1aR-9OvaP3ai5mtQtdy7lGcCSkdf61YbEYnGJMyvN2aQ"
          },
          "pageContent": "531.05"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "line": 8,
            "loc": {
              "lines": {
                "from": 1,
                "to": 1
              }
            },
            "file_id": "1aR-9OvaP3ai5mtQtdy7lGcCSkdf61YbEYnGJMyvN2aQ"
          },
          "pageContent": "2.233940072"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "line": 9,
            "loc": {
              "lines": {
                "from": 1,
                "to": 1
              }
            },
            "file_id": "1aR-9OvaP3ai5mtQtdy7lGcCSkdf61YbEYnGJMyvN2aQ"
          },
          "pageContent": "0.0008076762901"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "line": 10,
            "loc": {
              "lines": {
                "from": 1,
                "to": 1
              }
            },
            "file_id": "1aR-9OvaP3ai5mtQtdy7lGcCSkdf61YbEYnGJMyvN2aQ"
          },
          "pageContent": "2.765885417"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "line": 1,
            "loc": {
              "lines": {
                "from": 1,
                "to": 1
              }
            },
            "file_id": "1aR-9OvaP3ai5mtQtdy7lGcCSkdf61YbEYnGJMyvN2aQ"
          },
          "pageContent": "Eskimi - Rita AM"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "line": 2,
            "loc": {
              "lines": {
                "from": 1,
                "to": 1
              }
            },
            "file_id": "1aR-9OvaP3ai5mtQtdy7lGcCSkdf61YbEYnGJMyvN2aQ"
          },
          "pageContent": "12347"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "line": 3,
            "loc": {
              "lines": {
                "from": 1,
                "to": 1
              }
            },
            "file_id": "1aR-9OvaP3ai5mtQtdy7lGcCSkdf61YbEYnGJMyvN2aQ"
          },
          "pageContent": "Campaign 3"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "line": 4,
            "loc": {
              "lines": {
                "from": 1,
                "to": 1
              }
            },
            "file_id": "1aR-9OvaP3ai5mtQtdy7lGcCSkdf61YbEYnGJMyvN2aQ"
          },
          "pageContent": "Latvia"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "line": 5,
            "loc": {
              "lines": {
                "from": 1,
                "to": 1
              }
            },
            "file_id": "1aR-9OvaP3ai5mtQtdy7lGcCSkdf61YbEYnGJMyvN2aQ"
          },
          "pageContent": "459836"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "line": 6,
            "loc": {
              "lines": {
                "from": 1,
                "to": 1
              }
            },
            "file_id": "1aR-9OvaP3ai5mtQtdy7lGcCSkdf61YbEYnGJMyvN2aQ"
          },
          "pageContent": "0"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "line": 7,
            "loc": {
              "lines": {
                "from": 1,
                "to": 1
              }
            },
            "file_id": "1aR-9OvaP3ai5mtQtdy7lGcCSkdf61YbEYnGJMyvN2aQ"
          },
          "pageContent": "1245.59"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "line": 8,
            "loc": {
              "lines": {
                "from": 1,
                "to": 1
              }
            },
            "file_id": "1aR-9OvaP3ai5mtQtdy7lGcCSkdf61YbEYnGJMyvN2aQ"
          },
          "pageContent": "2.708770083"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "line": 9,
            "loc": {
              "lines": {
                "from": 1,
                "to": 1
              }
            },
            "file_id": "1aR-9OvaP3ai5mtQtdy7lGcCSkdf61YbEYnGJMyvN2aQ"
          },
          "pageContent": "0.001035151663"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "line": 10,
            "loc": {
              "lines": {
                "from": 1,
                "to": 1
              }
            },
            "file_id": "1aR-9OvaP3ai5mtQtdy7lGcCSkdf61YbEYnGJMyvN2aQ"
          },
          "pageContent": "2.616785714"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "line": 1,
            "loc": {
              "lines": {
                "from": 1,
                "to": 1
              }
            },
            "file_id": "1aR-9OvaP3ai5mtQtdy7lGcCSkdf61YbEYnGJMyvN2aQ"
          },
          "pageContent": "Eskimi - Rita AM"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "line": 2,
            "loc": {
              "lines": {
                "from": 1,
                "to": 1
              }
            },
            "file_id": "1aR-9OvaP3ai5mtQtdy7lGcCSkdf61YbEYnGJMyvN2aQ"
          },
          "pageContent": "12348"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "line": 3,
            "loc": {
              "lines": {
                "from": 1,
                "to": 1
              }
            },
            "file_id": "1aR-9OvaP3ai5mtQtdy7lGcCSkdf61YbEYnGJMyvN2aQ"
          },
          "pageContent": "Campaign 4"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "line": 4,
            "loc": {
              "lines": {
                "from": 1,
                "to": 1
              }
            },
            "file_id": "1aR-9OvaP3ai5mtQtdy7lGcCSkdf61YbEYnGJMyvN2aQ"
          },
          "pageContent": "Latvia"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "line": 5,
            "loc": {
              "lines": {
                "from": 1,
                "to": 1
              }
            },
            "file_id": "1aR-9OvaP3ai5mtQtdy7lGcCSkdf61YbEYnGJMyvN2aQ"
          },
          "pageContent": "20684"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "line": 6,
            "loc": {
              "lines": {
                "from": 1,
                "to": 1
              }
            },
            "file_id": "1aR-9OvaP3ai5mtQtdy7lGcCSkdf61YbEYnGJMyvN2aQ"
          },
          "pageContent": "0.002610713595"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "line": 7,
            "loc": {
              "lines": {
                "from": 1,
                "to": 1
              }
            },
            "file_id": "1aR-9OvaP3ai5mtQtdy7lGcCSkdf61YbEYnGJMyvN2aQ"
          },
          "pageContent": "171.55"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "line": 8,
            "loc": {
              "lines": {
                "from": 1,
                "to": 1
              }
            },
            "file_id": "1aR-9OvaP3ai5mtQtdy7lGcCSkdf61YbEYnGJMyvN2aQ"
          },
          "pageContent": "8.293850319"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "line": 9,
            "loc": {
              "lines": {
                "from": 1,
                "to": 1
              }
            },
            "file_id": "1aR-9OvaP3ai5mtQtdy7lGcCSkdf61YbEYnGJMyvN2aQ"
          },
          "pageContent": "0.002078901566"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "line": 10,
            "loc": {
              "lines": {
                "from": 1,
                "to": 1
              }
            },
            "file_id": "1aR-9OvaP3ai5mtQtdy7lGcCSkdf61YbEYnGJMyvN2aQ"
          },
          "pageContent": "3.989534884"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "line": 1,
            "loc": {
              "lines": {
                "from": 1,
                "to": 1
              }
            },
            "file_id": "1aR-9OvaP3ai5mtQtdy7lGcCSkdf61YbEYnGJMyvN2aQ"
          },
          "pageContent": "Eskimi - Rita AM"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "line": 2,
            "loc": {
              "lines": {
                "from": 1,
                "to": 1
              }
            },
            "file_id": "1aR-9OvaP3ai5mtQtdy7lGcCSkdf61YbEYnGJMyvN2aQ"
          },
          "pageContent": "12349"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "line": 3,
            "loc": {
              "lines": {
                "from": 1,
                "to": 1
              }
            },
            "file_id": "1aR-9OvaP3ai5mtQtdy7lGcCSkdf61YbEYnGJMyvN2aQ"
          },
          "pageContent": "Campaign 5"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "line": 4,
            "loc": {
              "lines": {
                "from": 1,
                "to": 1
              }
            },
            "file_id": "1aR-9OvaP3ai5mtQtdy7lGcCSkdf61YbEYnGJMyvN2aQ"
          },
          "pageContent": "Latvia"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "line": 5,
            "loc": {
              "lines": {
                "from": 1,
                "to": 1
              }
            },
            "file_id": "1aR-9OvaP3ai5mtQtdy7lGcCSkdf61YbEYnGJMyvN2aQ"
          },
          "pageContent": "529799"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "line": 6,
            "loc": {
              "lines": {
                "from": 1,
                "to": 1
              }
            },
            "file_id": "1aR-9OvaP3ai5mtQtdy7lGcCSkdf61YbEYnGJMyvN2aQ"
          },
          "pageContent": "0.1226767132"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "line": 7,
            "loc": {
              "lines": {
                "from": 1,
                "to": 1
              }
            },
            "file_id": "1aR-9OvaP3ai5mtQtdy7lGcCSkdf61YbEYnGJMyvN2aQ"
          },
          "pageContent": "1740.99"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "line": 8,
            "loc": {
              "lines": {
                "from": 1,
                "to": 1
              }
            },
            "file_id": "1aR-9OvaP3ai5mtQtdy7lGcCSkdf61YbEYnGJMyvN2aQ"
          },
          "pageContent": "3.286133043"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "line": 9,
            "loc": {
              "lines": {
                "from": 1,
                "to": 1
              }
            },
            "file_id": "1aR-9OvaP3ai5mtQtdy7lGcCSkdf61YbEYnGJMyvN2aQ"
          },
          "pageContent": "0.004046817755"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "line": 10,
            "loc": {
              "lines": {
                "from": 1,
                "to": 1
              }
            },
            "file_id": "1aR-9OvaP3ai5mtQtdy7lGcCSkdf61YbEYnGJMyvN2aQ"
          },
          "pageContent": "0.8120289179"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "line": 1,
            "loc": {
              "lines": {
                "from": 1,
                "to": 1
              }
            },
            "file_id": "1aR-9OvaP3ai5mtQtdy7lGcCSkdf61YbEYnGJMyvN2aQ"
          },
          "pageContent": "Eskimi - Rita AM"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "line": 2,
            "loc": {
              "lines": {
                "from": 1,
                "to": 1
              }
            },
            "file_id": "1aR-9OvaP3ai5mtQtdy7lGcCSkdf61YbEYnGJMyvN2aQ"
          },
          "pageContent": "12350"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "line": 3,
            "loc": {
              "lines": {
                "from": 1,
                "to": 1
              }
            },
            "file_id": "1aR-9OvaP3ai5mtQtdy7lGcCSkdf61YbEYnGJMyvN2aQ"
          },
          "pageContent": "Campaign 6"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "line": 4,
            "loc": {
              "lines": {
                "from": 1,
                "to": 1
              }
            },
            "file_id": "1aR-9OvaP3ai5mtQtdy7lGcCSkdf61YbEYnGJMyvN2aQ"
          },
          "pageContent": "Latvia"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "line": 5,
            "loc": {
              "lines": {
                "from": 1,
                "to": 1
              }
            },
            "file_id": "1aR-9OvaP3ai5mtQtdy7lGcCSkdf61YbEYnGJMyvN2aQ"
          },
          "pageContent": "1550525"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "line": 6,
            "loc": {
              "lines": {
                "from": 1,
                "to": 1
              }
            },
            "file_id": "1aR-9OvaP3ai5mtQtdy7lGcCSkdf61YbEYnGJMyvN2aQ"
          },
          "pageContent": "0.3813392238"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "line": 7,
            "loc": {
              "lines": {
                "from": 1,
                "to": 1
              }
            },
            "file_id": "1aR-9OvaP3ai5mtQtdy7lGcCSkdf61YbEYnGJMyvN2aQ"
          },
          "pageContent": "6373.32"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "line": 8,
            "loc": {
              "lines": {
                "from": 1,
                "to": 1
              }
            },
            "file_id": "1aR-9OvaP3ai5mtQtdy7lGcCSkdf61YbEYnGJMyvN2aQ"
          },
          "pageContent": "4.110427113"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "line": 9,
            "loc": {
              "lines": {
                "from": 1,
                "to": 1
              }
            },
            "file_id": "1aR-9OvaP3ai5mtQtdy7lGcCSkdf61YbEYnGJMyvN2aQ"
          },
          "pageContent": "0.004108285903"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "line": 10,
            "loc": {
              "lines": {
                "from": 1,
                "to": 1
              }
            },
            "file_id": "1aR-9OvaP3ai5mtQtdy7lGcCSkdf61YbEYnGJMyvN2aQ"
          },
          "pageContent": "1.000521193"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "line": 1,
            "loc": {
              "lines": {
                "from": 1,
                "to": 1
              }
            },
            "file_id": "1aR-9OvaP3ai5mtQtdy7lGcCSkdf61YbEYnGJMyvN2aQ"
          },
          "pageContent": "Eskimi - Rita AM"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "line": 2,
            "loc": {
              "lines": {
                "from": 1,
                "to": 1
              }
            },
            "file_id": "1aR-9OvaP3ai5mtQtdy7lGcCSkdf61YbEYnGJMyvN2aQ"
          },
          "pageContent": "12351"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "line": 3,
            "loc": {
              "lines": {
                "from": 1,
                "to": 1
              }
            },
            "file_id": "1aR-9OvaP3ai5mtQtdy7lGcCSkdf61YbEYnGJMyvN2aQ"
          },
          "pageContent": "Campaign 7"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "line": 4,
            "loc": {
              "lines": {
                "from": 1,
                "to": 1
              }
            },
            "file_id": "1aR-9OvaP3ai5mtQtdy7lGcCSkdf61YbEYnGJMyvN2aQ"
          },
          "pageContent": "Latvia"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "line": 5,
            "loc": {
              "lines": {
                "from": 1,
                "to": 1
              }
            },
            "file_id": "1aR-9OvaP3ai5mtQtdy7lGcCSkdf61YbEYnGJMyvN2aQ"
          },
          "pageContent": "412851"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "line": 6,
            "loc": {
              "lines": {
                "from": 1,
                "to": 1
              }
            },
            "file_id": "1aR-9OvaP3ai5mtQtdy7lGcCSkdf61YbEYnGJMyvN2aQ"
          },
          "pageContent": "0.3577271219"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "line": 7,
            "loc": {
              "lines": {
                "from": 1,
                "to": 1
              }
            },
            "file_id": "1aR-9OvaP3ai5mtQtdy7lGcCSkdf61YbEYnGJMyvN2aQ"
          },
          "pageContent": "2389.62"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "line": 8,
            "loc": {
              "lines": {
                "from": 1,
                "to": 1
              }
            },
            "file_id": "1aR-9OvaP3ai5mtQtdy7lGcCSkdf61YbEYnGJMyvN2aQ"
          },
          "pageContent": "5.788093041"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "line": 9,
            "loc": {
              "lines": {
                "from": 1,
                "to": 1
              }
            },
            "file_id": "1aR-9OvaP3ai5mtQtdy7lGcCSkdf61YbEYnGJMyvN2aQ"
          },
          "pageContent": "0.01813244972"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "line": 10,
            "loc": {
              "lines": {
                "from": 1,
                "to": 1
              }
            },
            "file_id": "1aR-9OvaP3ai5mtQtdy7lGcCSkdf61YbEYnGJMyvN2aQ"
          },
          "pageContent": "0.3192118621"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "line": 1,
            "loc": {
              "lines": {
                "from": 1,
                "to": 1
              }
            },
            "file_id": "1aR-9OvaP3ai5mtQtdy7lGcCSkdf61YbEYnGJMyvN2aQ"
          },
          "pageContent": "Eskimi - Rita AM"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "line": 2,
            "loc": {
              "lines": {
                "from": 1,
                "to": 1
              }
            },
            "file_id": "1aR-9OvaP3ai5mtQtdy7lGcCSkdf61YbEYnGJMyvN2aQ"
          },
          "pageContent": "12352"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "line": 3,
            "loc": {
              "lines": {
                "from": 1,
                "to": 1
              }
            },
            "file_id": "1aR-9OvaP3ai5mtQtdy7lGcCSkdf61YbEYnGJMyvN2aQ"
          },
          "pageContent": "Campaign 8"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "line": 4,
            "loc": {
              "lines": {
                "from": 1,
                "to": 1
              }
            },
            "file_id": "1aR-9OvaP3ai5mtQtdy7lGcCSkdf61YbEYnGJMyvN2aQ"
          },
          "pageContent": "Latvia"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "line": 5,
            "loc": {
              "lines": {
                "from": 1,
                "to": 1
              }
            },
            "file_id": "1aR-9OvaP3ai5mtQtdy7lGcCSkdf61YbEYnGJMyvN2aQ"
          },
          "pageContent": "446295"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "line": 6,
            "loc": {
              "lines": {
                "from": 1,
                "to": 1
              }
            },
            "file_id": "1aR-9OvaP3ai5mtQtdy7lGcCSkdf61YbEYnGJMyvN2aQ"
          },
          "pageContent": "0"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "line": 7,
            "loc": {
              "lines": {
                "from": 1,
                "to": 1
              }
            },
            "file_id": "1aR-9OvaP3ai5mtQtdy7lGcCSkdf61YbEYnGJMyvN2aQ"
          },
          "pageContent": "2383.87"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "line": 8,
            "loc": {
              "lines": {
                "from": 1,
                "to": 1
              }
            },
            "file_id": "1aR-9OvaP3ai5mtQtdy7lGcCSkdf61YbEYnGJMyvN2aQ"
          },
          "pageContent": "5.341466967"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "line": 9,
            "loc": {
              "lines": {
                "from": 1,
                "to": 1
              }
            },
            "file_id": "1aR-9OvaP3ai5mtQtdy7lGcCSkdf61YbEYnGJMyvN2aQ"
          },
          "pageContent": "0.0007147738603"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "line": 10,
            "loc": {
              "lines": {
                "from": 1,
                "to": 1
              }
            },
            "file_id": "1aR-9OvaP3ai5mtQtdy7lGcCSkdf61YbEYnGJMyvN2aQ"
          },
          "pageContent": "7.472946708"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "line": 1,
            "loc": {
              "lines": {
                "from": 1,
                "to": 1
              }
            },
            "file_id": "1aR-9OvaP3ai5mtQtdy7lGcCSkdf61YbEYnGJMyvN2aQ"
          },
          "pageContent": "Eskimi - Rita AM"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "line": 2,
            "loc": {
              "lines": {
                "from": 1,
                "to": 1
              }
            },
            "file_id": "1aR-9OvaP3ai5mtQtdy7lGcCSkdf61YbEYnGJMyvN2aQ"
          },
          "pageContent": "12353"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "line": 3,
            "loc": {
              "lines": {
                "from": 1,
                "to": 1
              }
            },
            "file_id": "1aR-9OvaP3ai5mtQtdy7lGcCSkdf61YbEYnGJMyvN2aQ"
          },
          "pageContent": "Campaign 9"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "line": 4,
            "loc": {
              "lines": {
                "from": 1,
                "to": 1
              }
            },
            "file_id": "1aR-9OvaP3ai5mtQtdy7lGcCSkdf61YbEYnGJMyvN2aQ"
          },
          "pageContent": "Latvia"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "line": 5,
            "loc": {
              "lines": {
                "from": 1,
                "to": 1
              }
            },
            "file_id": "1aR-9OvaP3ai5mtQtdy7lGcCSkdf61YbEYnGJMyvN2aQ"
          },
          "pageContent": "185445"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "line": 6,
            "loc": {
              "lines": {
                "from": 1,
                "to": 1
              }
            },
            "file_id": "1aR-9OvaP3ai5mtQtdy7lGcCSkdf61YbEYnGJMyvN2aQ"
          },
          "pageContent": "0.0214349268"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "line": 7,
            "loc": {
              "lines": {
                "from": 1,
                "to": 1
              }
            },
            "file_id": "1aR-9OvaP3ai5mtQtdy7lGcCSkdf61YbEYnGJMyvN2aQ"
          },
          "pageContent": "1219.8"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "line": 8,
            "loc": {
              "lines": {
                "from": 1,
                "to": 1
              }
            },
            "file_id": "1aR-9OvaP3ai5mtQtdy7lGcCSkdf61YbEYnGJMyvN2aQ"
          },
          "pageContent": "6.577691499"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "line": 9,
            "loc": {
              "lines": {
                "from": 1,
                "to": 1
              }
            },
            "file_id": "1aR-9OvaP3ai5mtQtdy7lGcCSkdf61YbEYnGJMyvN2aQ"
          },
          "pageContent": "0.002458950093"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "line": 10,
            "loc": {
              "lines": {
                "from": 1,
                "to": 1
              }
            },
            "file_id": "1aR-9OvaP3ai5mtQtdy7lGcCSkdf61YbEYnGJMyvN2aQ"
          },
          "pageContent": "2.675"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "line": 1,
            "loc": {
              "lines": {
                "from": 1,
                "to": 1
              }
            },
            "file_id": "1aR-9OvaP3ai5mtQtdy7lGcCSkdf61YbEYnGJMyvN2aQ"
          },
          "pageContent": "Eskimi - Rita AM"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "line": 2,
            "loc": {
              "lines": {
                "from": 1,
                "to": 1
              }
            },
            "file_id": "1aR-9OvaP3ai5mtQtdy7lGcCSkdf61YbEYnGJMyvN2aQ"
          },
          "pageContent": "12354"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "line": 3,
            "loc": {
              "lines": {
                "from": 1,
                "to": 1
              }
            },
            "file_id": "1aR-9OvaP3ai5mtQtdy7lGcCSkdf61YbEYnGJMyvN2aQ"
          },
          "pageContent": "Campaign 10"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "line": 4,
            "loc": {
              "lines": {
                "from": 1,
                "to": 1
              }
            },
            "file_id": "1aR-9OvaP3ai5mtQtdy7lGcCSkdf61YbEYnGJMyvN2aQ"
          },
          "pageContent": "Latvia"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "line": 5,
            "loc": {
              "lines": {
                "from": 1,
                "to": 1
              }
            },
            "file_id": "1aR-9OvaP3ai5mtQtdy7lGcCSkdf61YbEYnGJMyvN2aQ"
          },
          "pageContent": "841224"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "line": 6,
            "loc": {
              "lines": {
                "from": 1,
                "to": 1
              }
            },
            "file_id": "1aR-9OvaP3ai5mtQtdy7lGcCSkdf61YbEYnGJMyvN2aQ"
          },
          "pageContent": "0.9652530123"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "line": 7,
            "loc": {
              "lines": {
                "from": 1,
                "to": 1
              }
            },
            "file_id": "1aR-9OvaP3ai5mtQtdy7lGcCSkdf61YbEYnGJMyvN2aQ"
          },
          "pageContent": "1135.24"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "line": 8,
            "loc": {
              "lines": {
                "from": 1,
                "to": 1
              }
            },
            "file_id": "1aR-9OvaP3ai5mtQtdy7lGcCSkdf61YbEYnGJMyvN2aQ"
          },
          "pageContent": "1.349509762"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "line": 9,
            "loc": {
              "lines": {
                "from": 1,
                "to": 1
              }
            },
            "file_id": "1aR-9OvaP3ai5mtQtdy7lGcCSkdf61YbEYnGJMyvN2aQ"
          },
          "pageContent": "0.0009462402404"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "line": 10,
            "loc": {
              "lines": {
                "from": 1,
                "to": 1
              }
            },
            "file_id": "1aR-9OvaP3ai5mtQtdy7lGcCSkdf61YbEYnGJMyvN2aQ"
          },
          "pageContent": "1.426180905"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "line": 1,
            "loc": {
              "lines": {
                "from": 1,
                "to": 1
              }
            },
            "file_id": "1aR-9OvaP3ai5mtQtdy7lGcCSkdf61YbEYnGJMyvN2aQ"
          },
          "pageContent": "Eskimi - Rita AM"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "line": 2,
            "loc": {
              "lines": {
                "from": 1,
                "to": 1
              }
            },
            "file_id": "1aR-9OvaP3ai5mtQtdy7lGcCSkdf61YbEYnGJMyvN2aQ"
          },
          "pageContent": "12355"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "line": 3,
            "loc": {
              "lines": {
                "from": 1,
                "to": 1
              }
            },
            "file_id": "1aR-9OvaP3ai5mtQtdy7lGcCSkdf61YbEYnGJMyvN2aQ"
          },
          "pageContent": "Campaign 11"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "line": 4,
            "loc": {
              "lines": {
                "from": 1,
                "to": 1
              }
            },
            "file_id": "1aR-9OvaP3ai5mtQtdy7lGcCSkdf61YbEYnGJMyvN2aQ"
          },
          "pageContent": "Latvia"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "line": 5,
            "loc": {
              "lines": {
                "from": 1,
                "to": 1
              }
            },
            "file_id": "1aR-9OvaP3ai5mtQtdy7lGcCSkdf61YbEYnGJMyvN2aQ"
          },
          "pageContent": "252238"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "line": 6,
            "loc": {
              "lines": {
                "from": 1,
                "to": 1
              }
            },
            "file_id": "1aR-9OvaP3ai5mtQtdy7lGcCSkdf61YbEYnGJMyvN2aQ"
          },
          "pageContent": "0.9513277143"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "line": 7,
            "loc": {
              "lines": {
                "from": 1,
                "to": 1
              }
            },
            "file_id": "1aR-9OvaP3ai5mtQtdy7lGcCSkdf61YbEYnGJMyvN2aQ"
          },
          "pageContent": "531.63"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "line": 8,
            "loc": {
              "lines": {
                "from": 1,
                "to": 1
              }
            },
            "file_id": "1aR-9OvaP3ai5mtQtdy7lGcCSkdf61YbEYnGJMyvN2aQ"
          },
          "pageContent": "2.107652297"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "line": 9,
            "loc": {
              "lines": {
                "from": 1,
                "to": 1
              }
            },
            "file_id": "1aR-9OvaP3ai5mtQtdy7lGcCSkdf61YbEYnGJMyvN2aQ"
          },
          "pageContent": "0.0003250897961"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "line": 10,
            "loc": {
              "lines": {
                "from": 1,
                "to": 1
              }
            },
            "file_id": "1aR-9OvaP3ai5mtQtdy7lGcCSkdf61YbEYnGJMyvN2aQ"
          },
          "pageContent": "6.483292683"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "line": 1,
            "loc": {
              "lines": {
                "from": 1,
                "to": 1
              }
            },
            "file_id": "1aR-9OvaP3ai5mtQtdy7lGcCSkdf61YbEYnGJMyvN2aQ"
          },
          "pageContent": "Eskimi - Rita AM"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "line": 2,
            "loc": {
              "lines": {
                "from": 1,
                "to": 1
              }
            },
            "file_id": "1aR-9OvaP3ai5mtQtdy7lGcCSkdf61YbEYnGJMyvN2aQ"
          },
          "pageContent": "12356"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "line": 3,
            "loc": {
              "lines": {
                "from": 1,
                "to": 1
              }
            },
            "file_id": "1aR-9OvaP3ai5mtQtdy7lGcCSkdf61YbEYnGJMyvN2aQ"
          },
          "pageContent": "Campaign 12"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "line": 4,
            "loc": {
              "lines": {
                "from": 1,
                "to": 1
              }
            },
            "file_id": "1aR-9OvaP3ai5mtQtdy7lGcCSkdf61YbEYnGJMyvN2aQ"
          },
          "pageContent": "Latvia"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "line": 5,
            "loc": {
              "lines": {
                "from": 1,
                "to": 1
              }
            },
            "file_id": "1aR-9OvaP3ai5mtQtdy7lGcCSkdf61YbEYnGJMyvN2aQ"
          },
          "pageContent": "83449"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "line": 6,
            "loc": {
              "lines": {
                "from": 1,
                "to": 1
              }
            },
            "file_id": "1aR-9OvaP3ai5mtQtdy7lGcCSkdf61YbEYnGJMyvN2aQ"
          },
          "pageContent": "0.9585495332"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "line": 7,
            "loc": {
              "lines": {
                "from": 1,
                "to": 1
              }
            },
            "file_id": "1aR-9OvaP3ai5mtQtdy7lGcCSkdf61YbEYnGJMyvN2aQ"
          },
          "pageContent": "260.61"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "line": 8,
            "loc": {
              "lines": {
                "from": 1,
                "to": 1
              }
            },
            "file_id": "1aR-9OvaP3ai5mtQtdy7lGcCSkdf61YbEYnGJMyvN2aQ"
          },
          "pageContent": "3.122985296"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "line": 9,
            "loc": {
              "lines": {
                "from": 1,
                "to": 1
              }
            },
            "file_id": "1aR-9OvaP3ai5mtQtdy7lGcCSkdf61YbEYnGJMyvN2aQ"
          },
          "pageContent": "0.000826852329"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "line": 10,
            "loc": {
              "lines": {
                "from": 1,
                "to": 1
              }
            },
            "file_id": "1aR-9OvaP3ai5mtQtdy7lGcCSkdf61YbEYnGJMyvN2aQ"
          },
          "pageContent": "3.776956522"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "line": 1,
            "loc": {
              "lines": {
                "from": 1,
                "to": 1
              }
            },
            "file_id": "1aR-9OvaP3ai5mtQtdy7lGcCSkdf61YbEYnGJMyvN2aQ"
          },
          "pageContent": "Eskimi - Rita AM"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "line": 2,
            "loc": {
              "lines": {
                "from": 1,
                "to": 1
              }
            },
            "file_id": "1aR-9OvaP3ai5mtQtdy7lGcCSkdf61YbEYnGJMyvN2aQ"
          },
          "pageContent": "12357"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "line": 3,
            "loc": {
              "lines": {
                "from": 1,
                "to": 1
              }
            },
            "file_id": "1aR-9OvaP3ai5mtQtdy7lGcCSkdf61YbEYnGJMyvN2aQ"
          },
          "pageContent": "Campaign 13"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "line": 4,
            "loc": {
              "lines": {
                "from": 1,
                "to": 1
              }
            },
            "file_id": "1aR-9OvaP3ai5mtQtdy7lGcCSkdf61YbEYnGJMyvN2aQ"
          },
          "pageContent": "Latvia"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "line": 5,
            "loc": {
              "lines": {
                "from": 1,
                "to": 1
              }
            },
            "file_id": "1aR-9OvaP3ai5mtQtdy7lGcCSkdf61YbEYnGJMyvN2aQ"
          },
          "pageContent": "83459"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "line": 6,
            "loc": {
              "lines": {
                "from": 1,
                "to": 1
              }
            },
            "file_id": "1aR-9OvaP3ai5mtQtdy7lGcCSkdf61YbEYnGJMyvN2aQ"
          },
          "pageContent": "0.9558465834"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "line": 7,
            "loc": {
              "lines": {
                "from": 1,
                "to": 1
              }
            },
            "file_id": "1aR-9OvaP3ai5mtQtdy7lGcCSkdf61YbEYnGJMyvN2aQ"
          },
          "pageContent": "260.51"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "line": 8,
            "loc": {
              "lines": {
                "from": 1,
                "to": 1
              }
            },
            "file_id": "1aR-9OvaP3ai5mtQtdy7lGcCSkdf61YbEYnGJMyvN2aQ"
          },
          "pageContent": "3.121412909"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "line": 9,
            "loc": {
              "lines": {
                "from": 1,
                "to": 1
              }
            },
            "file_id": "1aR-9OvaP3ai5mtQtdy7lGcCSkdf61YbEYnGJMyvN2aQ"
          },
          "pageContent": "0.0008986448436"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "line": 10,
            "loc": {
              "lines": {
                "from": 1,
                "to": 1
              }
            },
            "file_id": "1aR-9OvaP3ai5mtQtdy7lGcCSkdf61YbEYnGJMyvN2aQ"
          },
          "pageContent": "3.473466667"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "line": 1,
            "loc": {
              "lines": {
                "from": 1,
                "to": 1
              }
            },
            "file_id": "1aR-9OvaP3ai5mtQtdy7lGcCSkdf61YbEYnGJMyvN2aQ"
          },
          "pageContent": "Eskimi - Rita AM"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "line": 2,
            "loc": {
              "lines": {
                "from": 1,
                "to": 1
              }
            },
            "file_id": "1aR-9OvaP3ai5mtQtdy7lGcCSkdf61YbEYnGJMyvN2aQ"
          },
          "pageContent": "12358"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "line": 3,
            "loc": {
              "lines": {
                "from": 1,
                "to": 1
              }
            },
            "file_id": "1aR-9OvaP3ai5mtQtdy7lGcCSkdf61YbEYnGJMyvN2aQ"
          },
          "pageContent": "Campaign 14"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "line": 4,
            "loc": {
              "lines": {
                "from": 1,
                "to": 1
              }
            },
            "file_id": "1aR-9OvaP3ai5mtQtdy7lGcCSkdf61YbEYnGJMyvN2aQ"
          },
          "pageContent": "Latvia"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "line": 5,
            "loc": {
              "lines": {
                "from": 1,
                "to": 1
              }
            },
            "file_id": "1aR-9OvaP3ai5mtQtdy7lGcCSkdf61YbEYnGJMyvN2aQ"
          },
          "pageContent": "394066"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "line": 6,
            "loc": {
              "lines": {
                "from": 1,
                "to": 1
              }
            },
            "file_id": "1aR-9OvaP3ai5mtQtdy7lGcCSkdf61YbEYnGJMyvN2aQ"
          },
          "pageContent": "0.9567864266"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "line": 7,
            "loc": {
              "lines": {
                "from": 1,
                "to": 1
              }
            },
            "file_id": "1aR-9OvaP3ai5mtQtdy7lGcCSkdf61YbEYnGJMyvN2aQ"
          },
          "pageContent": "930.61"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "line": 8,
            "loc": {
              "lines": {
                "from": 1,
                "to": 1
              }
            },
            "file_id": "1aR-9OvaP3ai5mtQtdy7lGcCSkdf61YbEYnGJMyvN2aQ"
          },
          "pageContent": "2.361558724"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "line": 9,
            "loc": {
              "lines": {
                "from": 1,
                "to": 1
              }
            },
            "file_id": "1aR-9OvaP3ai5mtQtdy7lGcCSkdf61YbEYnGJMyvN2aQ"
          },
          "pageContent": "0.0004846903818"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "line": 10,
            "loc": {
              "lines": {
                "from": 1,
                "to": 1
              }
            },
            "file_id": "1aR-9OvaP3ai5mtQtdy7lGcCSkdf61YbEYnGJMyvN2aQ"
          },
          "pageContent": "4.872303665"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "line": 1,
            "loc": {
              "lines": {
                "from": 1,
                "to": 1
              }
            },
            "file_id": "1aR-9OvaP3ai5mtQtdy7lGcCSkdf61YbEYnGJMyvN2aQ"
          },
          "pageContent": "Eskimi - Narmin"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "line": 2,
            "loc": {
              "lines": {
                "from": 1,
                "to": 1
              }
            },
            "file_id": "1aR-9OvaP3ai5mtQtdy7lGcCSkdf61YbEYnGJMyvN2aQ"
          },
          "pageContent": "12359"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "line": 3,
            "loc": {
              "lines": {
                "from": 1,
                "to": 1
              }
            },
            "file_id": "1aR-9OvaP3ai5mtQtdy7lGcCSkdf61YbEYnGJMyvN2aQ"
          },
          "pageContent": "Campaign 15"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "line": 4,
            "loc": {
              "lines": {
                "from": 1,
                "to": 1
              }
            },
            "file_id": "1aR-9OvaP3ai5mtQtdy7lGcCSkdf61YbEYnGJMyvN2aQ"
          },
          "pageContent": "Latvia"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "line": 5,
            "loc": {
              "lines": {
                "from": 1,
                "to": 1
              }
            },
            "file_id": "1aR-9OvaP3ai5mtQtdy7lGcCSkdf61YbEYnGJMyvN2aQ"
          },
          "pageContent": "2382560"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "line": 6,
            "loc": {
              "lines": {
                "from": 1,
                "to": 1
              }
            },
            "file_id": "1aR-9OvaP3ai5mtQtdy7lGcCSkdf61YbEYnGJMyvN2aQ"
          },
          "pageContent": "0.970657612"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "line": 7,
            "loc": {
              "lines": {
                "from": 1,
                "to": 1
              }
            },
            "file_id": "1aR-9OvaP3ai5mtQtdy7lGcCSkdf61YbEYnGJMyvN2aQ"
          },
          "pageContent": "2373.27"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "line": 8,
            "loc": {
              "lines": {
                "from": 1,
                "to": 1
              }
            },
            "file_id": "1aR-9OvaP3ai5mtQtdy7lGcCSkdf61YbEYnGJMyvN2aQ"
          },
          "pageContent": "0.9961008327"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "line": 9,
            "loc": {
              "lines": {
                "from": 1,
                "to": 1
              }
            },
            "file_id": "1aR-9OvaP3ai5mtQtdy7lGcCSkdf61YbEYnGJMyvN2aQ"
          },
          "pageContent": "0.001184020549"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "line": 10,
            "loc": {
              "lines": {
                "from": 1,
                "to": 1
              }
            },
            "file_id": "1aR-9OvaP3ai5mtQtdy7lGcCSkdf61YbEYnGJMyvN2aQ"
          },
          "pageContent": "0.8412867777"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "line": 1,
            "loc": {
              "lines": {
                "from": 1,
                "to": 1
              }
            },
            "file_id": "1aR-9OvaP3ai5mtQtdy7lGcCSkdf61YbEYnGJMyvN2aQ"
          },
          "pageContent": "Eskimi - Rita AM"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "line": 2,
            "loc": {
              "lines": {
                "from": 1,
                "to": 1
              }
            },
            "file_id": "1aR-9OvaP3ai5mtQtdy7lGcCSkdf61YbEYnGJMyvN2aQ"
          },
          "pageContent": "12360"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "line": 3,
            "loc": {
              "lines": {
                "from": 1,
                "to": 1
              }
            },
            "file_id": "1aR-9OvaP3ai5mtQtdy7lGcCSkdf61YbEYnGJMyvN2aQ"
          },
          "pageContent": "Campaign 16"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "line": 4,
            "loc": {
              "lines": {
                "from": 1,
                "to": 1
              }
            },
            "file_id": "1aR-9OvaP3ai5mtQtdy7lGcCSkdf61YbEYnGJMyvN2aQ"
          },
          "pageContent": "Latvia"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "line": 5,
            "loc": {
              "lines": {
                "from": 1,
                "to": 1
              }
            },
            "file_id": "1aR-9OvaP3ai5mtQtdy7lGcCSkdf61YbEYnGJMyvN2aQ"
          },
          "pageContent": "45998"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "line": 6,
            "loc": {
              "lines": {
                "from": 1,
                "to": 1
              }
            },
            "file_id": "1aR-9OvaP3ai5mtQtdy7lGcCSkdf61YbEYnGJMyvN2aQ"
          },
          "pageContent": "0.9791512674"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "line": 7,
            "loc": {
              "lines": {
                "from": 1,
                "to": 1
              }
            },
            "file_id": "1aR-9OvaP3ai5mtQtdy7lGcCSkdf61YbEYnGJMyvN2aQ"
          },
          "pageContent": "79.35"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "line": 8,
            "loc": {
              "lines": {
                "from": 1,
                "to": 1
              }
            },
            "file_id": "1aR-9OvaP3ai5mtQtdy7lGcCSkdf61YbEYnGJMyvN2aQ"
          },
          "pageContent": "1.725075003"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "line": 9,
            "loc": {
              "lines": {
                "from": 1,
                "to": 1
              }
            },
            "file_id": "1aR-9OvaP3ai5mtQtdy7lGcCSkdf61YbEYnGJMyvN2aQ"
          },
          "pageContent": "0.002347928171"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "line": 10,
            "loc": {
              "lines": {
                "from": 1,
                "to": 1
              }
            },
            "file_id": "1aR-9OvaP3ai5mtQtdy7lGcCSkdf61YbEYnGJMyvN2aQ"
          },
          "pageContent": "0.7347222222"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "line": 1,
            "loc": {
              "lines": {
                "from": 1,
                "to": 1
              }
            },
            "file_id": "1aR-9OvaP3ai5mtQtdy7lGcCSkdf61YbEYnGJMyvN2aQ"
          },
          "pageContent": "Eskimi - Rita AM"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "line": 2,
            "loc": {
              "lines": {
                "from": 1,
                "to": 1
              }
            },
            "file_id": "1aR-9OvaP3ai5mtQtdy7lGcCSkdf61YbEYnGJMyvN2aQ"
          },
          "pageContent": "12361"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "line": 3,
            "loc": {
              "lines": {
                "from": 1,
                "to": 1
              }
            },
            "file_id": "1aR-9OvaP3ai5mtQtdy7lGcCSkdf61YbEYnGJMyvN2aQ"
          },
          "pageContent": "Campaign 17"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "line": 4,
            "loc": {
              "lines": {
                "from": 1,
                "to": 1
              }
            },
            "file_id": "1aR-9OvaP3ai5mtQtdy7lGcCSkdf61YbEYnGJMyvN2aQ"
          },
          "pageContent": "Latvia"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "line": 5,
            "loc": {
              "lines": {
                "from": 1,
                "to": 1
              }
            },
            "file_id": "1aR-9OvaP3ai5mtQtdy7lGcCSkdf61YbEYnGJMyvN2aQ"
          },
          "pageContent": "46094"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "line": 6,
            "loc": {
              "lines": {
                "from": 1,
                "to": 1
              }
            },
            "file_id": "1aR-9OvaP3ai5mtQtdy7lGcCSkdf61YbEYnGJMyvN2aQ"
          },
          "pageContent": "0.9792380787"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "line": 7,
            "loc": {
              "lines": {
                "from": 1,
                "to": 1
              }
            },
            "file_id": "1aR-9OvaP3ai5mtQtdy7lGcCSkdf61YbEYnGJMyvN2aQ"
          },
          "pageContent": "79.35"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "line": 8,
            "loc": {
              "lines": {
                "from": 1,
                "to": 1
              }
            },
            "file_id": "1aR-9OvaP3ai5mtQtdy7lGcCSkdf61YbEYnGJMyvN2aQ"
          },
          "pageContent": "1.721482189"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "line": 9,
            "loc": {
              "lines": {
                "from": 1,
                "to": 1
              }
            },
            "file_id": "1aR-9OvaP3ai5mtQtdy7lGcCSkdf61YbEYnGJMyvN2aQ"
          },
          "pageContent": "0.002191174556"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "line": 10,
            "loc": {
              "lines": {
                "from": 1,
                "to": 1
              }
            },
            "file_id": "1aR-9OvaP3ai5mtQtdy7lGcCSkdf61YbEYnGJMyvN2aQ"
          },
          "pageContent": "0.7856435644"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "line": 1,
            "loc": {
              "lines": {
                "from": 1,
                "to": 1
              }
            },
            "file_id": "1aR-9OvaP3ai5mtQtdy7lGcCSkdf61YbEYnGJMyvN2aQ"
          },
          "pageContent": "Eskimi - Rita AM"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "line": 2,
            "loc": {
              "lines": {
                "from": 1,
                "to": 1
              }
            },
            "file_id": "1aR-9OvaP3ai5mtQtdy7lGcCSkdf61YbEYnGJMyvN2aQ"
          },
          "pageContent": "12362"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "line": 3,
            "loc": {
              "lines": {
                "from": 1,
                "to": 1
              }
            },
            "file_id": "1aR-9OvaP3ai5mtQtdy7lGcCSkdf61YbEYnGJMyvN2aQ"
          },
          "pageContent": "Campaign 18"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "line": 4,
            "loc": {
              "lines": {
                "from": 1,
                "to": 1
              }
            },
            "file_id": "1aR-9OvaP3ai5mtQtdy7lGcCSkdf61YbEYnGJMyvN2aQ"
          },
          "pageContent": "Latvia"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "line": 5,
            "loc": {
              "lines": {
                "from": 1,
                "to": 1
              }
            },
            "file_id": "1aR-9OvaP3ai5mtQtdy7lGcCSkdf61YbEYnGJMyvN2aQ"
          },
          "pageContent": "368332"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "line": 6,
            "loc": {
              "lines": {
                "from": 1,
                "to": 1
              }
            },
            "file_id": "1aR-9OvaP3ai5mtQtdy7lGcCSkdf61YbEYnGJMyvN2aQ"
          },
          "pageContent": "0.9761790993"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "line": 7,
            "loc": {
              "lines": {
                "from": 1,
                "to": 1
              }
            },
            "file_id": "1aR-9OvaP3ai5mtQtdy7lGcCSkdf61YbEYnGJMyvN2aQ"
          },
          "pageContent": "653.53"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "line": 8,
            "loc": {
              "lines": {
                "from": 1,
                "to": 1
              }
            },
            "file_id": "1aR-9OvaP3ai5mtQtdy7lGcCSkdf61YbEYnGJMyvN2aQ"
          },
          "pageContent": "1.774296016"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "line": 9,
            "loc": {
              "lines": {
                "from": 1,
                "to": 1
              }
            },
            "file_id": "1aR-9OvaP3ai5mtQtdy7lGcCSkdf61YbEYnGJMyvN2aQ"
          },
          "pageContent": "0.001504077843"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "line": 10,
            "loc": {
              "lines": {
                "from": 1,
                "to": 1
              }
            },
            "file_id": "1aR-9OvaP3ai5mtQtdy7lGcCSkdf61YbEYnGJMyvN2aQ"
          },
          "pageContent": "1.17965704"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "line": 1,
            "loc": {
              "lines": {
                "from": 1,
                "to": 1
              }
            },
            "file_id": "1aR-9OvaP3ai5mtQtdy7lGcCSkdf61YbEYnGJMyvN2aQ"
          },
          "pageContent": "Eskimi - Rita AM"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "line": 2,
            "loc": {
              "lines": {
                "from": 1,
                "to": 1
              }
            },
            "file_id": "1aR-9OvaP3ai5mtQtdy7lGcCSkdf61YbEYnGJMyvN2aQ"
          },
          "pageContent": "12363"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "line": 3,
            "loc": {
              "lines": {
                "from": 1,
                "to": 1
              }
            },
            "file_id": "1aR-9OvaP3ai5mtQtdy7lGcCSkdf61YbEYnGJMyvN2aQ"
          },
          "pageContent": "Campaign 19"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "line": 4,
            "loc": {
              "lines": {
                "from": 1,
                "to": 1
              }
            },
            "file_id": "1aR-9OvaP3ai5mtQtdy7lGcCSkdf61YbEYnGJMyvN2aQ"
          },
          "pageContent": "Latvia"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "line": 5,
            "loc": {
              "lines": {
                "from": 1,
                "to": 1
              }
            },
            "file_id": "1aR-9OvaP3ai5mtQtdy7lGcCSkdf61YbEYnGJMyvN2aQ"
          },
          "pageContent": "377528"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "line": 6,
            "loc": {
              "lines": {
                "from": 1,
                "to": 1
              }
            },
            "file_id": "1aR-9OvaP3ai5mtQtdy7lGcCSkdf61YbEYnGJMyvN2aQ"
          },
          "pageContent": "0.9739198152"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "line": 7,
            "loc": {
              "lines": {
                "from": 1,
                "to": 1
              }
            },
            "file_id": "1aR-9OvaP3ai5mtQtdy7lGcCSkdf61YbEYnGJMyvN2aQ"
          },
          "pageContent": "761.93"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "line": 8,
            "loc": {
              "lines": {
                "from": 1,
                "to": 1
              }
            },
            "file_id": "1aR-9OvaP3ai5mtQtdy7lGcCSkdf61YbEYnGJMyvN2aQ"
          },
          "pageContent": "2.018207921"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "line": 9,
            "loc": {
              "lines": {
                "from": 1,
                "to": 1
              }
            },
            "file_id": "1aR-9OvaP3ai5mtQtdy7lGcCSkdf61YbEYnGJMyvN2aQ"
          },
          "pageContent": "0.001819732576"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "line": 10,
            "loc": {
              "lines": {
                "from": 1,
                "to": 1
              }
            },
            "file_id": "1aR-9OvaP3ai5mtQtdy7lGcCSkdf61YbEYnGJMyvN2aQ"
          },
          "pageContent": "1.109068413"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "line": 1,
            "loc": {
              "lines": {
                "from": 1,
                "to": 1
              }
            },
            "file_id": "1aR-9OvaP3ai5mtQtdy7lGcCSkdf61YbEYnGJMyvN2aQ"
          },
          "pageContent": "Eskimi - Rita AM"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "line": 2,
            "loc": {
              "lines": {
                "from": 1,
                "to": 1
              }
            },
            "file_id": "1aR-9OvaP3ai5mtQtdy7lGcCSkdf61YbEYnGJMyvN2aQ"
          },
          "pageContent": "12364"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "line": 3,
            "loc": {
              "lines": {
                "from": 1,
                "to": 1
              }
            },
            "file_id": "1aR-9OvaP3ai5mtQtdy7lGcCSkdf61YbEYnGJMyvN2aQ"
          },
          "pageContent": "Campaign 20"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "line": 4,
            "loc": {
              "lines": {
                "from": 1,
                "to": 1
              }
            },
            "file_id": "1aR-9OvaP3ai5mtQtdy7lGcCSkdf61YbEYnGJMyvN2aQ"
          },
          "pageContent": "Latvia"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "line": 5,
            "loc": {
              "lines": {
                "from": 1,
                "to": 1
              }
            },
            "file_id": "1aR-9OvaP3ai5mtQtdy7lGcCSkdf61YbEYnGJMyvN2aQ"
          },
          "pageContent": "436695"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "line": 6,
            "loc": {
              "lines": {
                "from": 1,
                "to": 1
              }
            },
            "file_id": "1aR-9OvaP3ai5mtQtdy7lGcCSkdf61YbEYnGJMyvN2aQ"
          },
          "pageContent": "0.9732055554"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "line": 7,
            "loc": {
              "lines": {
                "from": 1,
                "to": 1
              }
            },
            "file_id": "1aR-9OvaP3ai5mtQtdy7lGcCSkdf61YbEYnGJMyvN2aQ"
          },
          "pageContent": "761.99"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "line": 8,
            "loc": {
              "lines": {
                "from": 1,
                "to": 1
              }
            },
            "file_id": "1aR-9OvaP3ai5mtQtdy7lGcCSkdf61YbEYnGJMyvN2aQ"
          },
          "pageContent": "1.744902048"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "line": 9,
            "loc": {
              "lines": {
                "from": 1,
                "to": 1
              }
            },
            "file_id": "1aR-9OvaP3ai5mtQtdy7lGcCSkdf61YbEYnGJMyvN2aQ"
          },
          "pageContent": "0.001529671739"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "line": 10,
            "loc": {
              "lines": {
                "from": 1,
                "to": 1
              }
            },
            "file_id": "1aR-9OvaP3ai5mtQtdy7lGcCSkdf61YbEYnGJMyvN2aQ"
          },
          "pageContent": "1.140703593"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "line": 1,
            "loc": {
              "lines": {
                "from": 1,
                "to": 1
              }
            },
            "file_id": "1aR-9OvaP3ai5mtQtdy7lGcCSkdf61YbEYnGJMyvN2aQ"
          },
          "pageContent": "Eskimi - Rita AM"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "line": 2,
            "loc": {
              "lines": {
                "from": 1,
                "to": 1
              }
            },
            "file_id": "1aR-9OvaP3ai5mtQtdy7lGcCSkdf61YbEYnGJMyvN2aQ"
          },
          "pageContent": "12365"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "line": 3,
            "loc": {
              "lines": {
                "from": 1,
                "to": 1
              }
            },
            "file_id": "1aR-9OvaP3ai5mtQtdy7lGcCSkdf61YbEYnGJMyvN2aQ"
          },
          "pageContent": "Campaign 21"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "line": 4,
            "loc": {
              "lines": {
                "from": 1,
                "to": 1
              }
            },
            "file_id": "1aR-9OvaP3ai5mtQtdy7lGcCSkdf61YbEYnGJMyvN2aQ"
          },
          "pageContent": "Latvia"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "line": 5,
            "loc": {
              "lines": {
                "from": 1,
                "to": 1
              }
            },
            "file_id": "1aR-9OvaP3ai5mtQtdy7lGcCSkdf61YbEYnGJMyvN2aQ"
          },
          "pageContent": "227279"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "line": 6,
            "loc": {
              "lines": {
                "from": 1,
                "to": 1
              }
            },
            "file_id": "1aR-9OvaP3ai5mtQtdy7lGcCSkdf61YbEYnGJMyvN2aQ"
          },
          "pageContent": "0.9590063314"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "line": 7,
            "loc": {
              "lines": {
                "from": 1,
                "to": 1
              }
            },
            "file_id": "1aR-9OvaP3ai5mtQtdy7lGcCSkdf61YbEYnGJMyvN2aQ"
          },
          "pageContent": "524.12"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "line": 8,
            "loc": {
              "lines": {
                "from": 1,
                "to": 1
              }
            },
            "file_id": "1aR-9OvaP3ai5mtQtdy7lGcCSkdf61YbEYnGJMyvN2aQ"
          },
          "pageContent": "2.306064353"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "line": 9,
            "loc": {
              "lines": {
                "from": 1,
                "to": 1
              }
            },
            "file_id": "1aR-9OvaP3ai5mtQtdy7lGcCSkdf61YbEYnGJMyvN2aQ"
          },
          "pageContent": "0.0002507930781"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "line": 10,
            "loc": {
              "lines": {
                "from": 1,
                "to": 1
              }
            },
            "file_id": "1aR-9OvaP3ai5mtQtdy7lGcCSkdf61YbEYnGJMyvN2aQ"
          },
          "pageContent": "9.195087719"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "line": 1,
            "loc": {
              "lines": {
                "from": 1,
                "to": 1
              }
            },
            "file_id": "1aR-9OvaP3ai5mtQtdy7lGcCSkdf61YbEYnGJMyvN2aQ"
          },
          "pageContent": "Eskimi - Rita AM"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "line": 2,
            "loc": {
              "lines": {
                "from": 1,
                "to": 1
              }
            },
            "file_id": "1aR-9OvaP3ai5mtQtdy7lGcCSkdf61YbEYnGJMyvN2aQ"
          },
          "pageContent": "12366"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "line": 3,
            "loc": {
              "lines": {
                "from": 1,
                "to": 1
              }
            },
            "file_id": "1aR-9OvaP3ai5mtQtdy7lGcCSkdf61YbEYnGJMyvN2aQ"
          },
          "pageContent": "Campaign 22"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "line": 4,
            "loc": {
              "lines": {
                "from": 1,
                "to": 1
              }
            },
            "file_id": "1aR-9OvaP3ai5mtQtdy7lGcCSkdf61YbEYnGJMyvN2aQ"
          },
          "pageContent": "Latvia"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "line": 5,
            "loc": {
              "lines": {
                "from": 1,
                "to": 1
              }
            },
            "file_id": "1aR-9OvaP3ai5mtQtdy7lGcCSkdf61YbEYnGJMyvN2aQ"
          },
          "pageContent": "454558"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "line": 6,
            "loc": {
              "lines": {
                "from": 1,
                "to": 1
              }
            },
            "file_id": "1aR-9OvaP3ai5mtQtdy7lGcCSkdf61YbEYnGJMyvN2aQ"
          },
          "pageContent": "0.9624778356"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "line": 7,
            "loc": {
              "lines": {
                "from": 1,
                "to": 1
              }
            },
            "file_id": "1aR-9OvaP3ai5mtQtdy7lGcCSkdf61YbEYnGJMyvN2aQ"
          },
          "pageContent": "1048.33"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "line": 8,
            "loc": {
              "lines": {
                "from": 1,
                "to": 1
              }
            },
            "file_id": "1aR-9OvaP3ai5mtQtdy7lGcCSkdf61YbEYnGJMyvN2aQ"
          },
          "pageContent": "2.306262347"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "line": 9,
            "loc": {
              "lines": {
                "from": 1,
                "to": 1
              }
            },
            "file_id": "1aR-9OvaP3ai5mtQtdy7lGcCSkdf61YbEYnGJMyvN2aQ"
          },
          "pageContent": "0.0002683925924"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "line": 10,
            "loc": {
              "lines": {
                "from": 1,
                "to": 1
              }
            },
            "file_id": "1aR-9OvaP3ai5mtQtdy7lGcCSkdf61YbEYnGJMyvN2aQ"
          },
          "pageContent": "8.592868852"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "line": 1,
            "loc": {
              "lines": {
                "from": 1,
                "to": 1
              }
            },
            "file_id": "1aR-9OvaP3ai5mtQtdy7lGcCSkdf61YbEYnGJMyvN2aQ"
          },
          "pageContent": "Eskimi - Rita AM"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "line": 2,
            "loc": {
              "lines": {
                "from": 1,
                "to": 1
              }
            },
            "file_id": "1aR-9OvaP3ai5mtQtdy7lGcCSkdf61YbEYnGJMyvN2aQ"
          },
          "pageContent": "12367"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "line": 3,
            "loc": {
              "lines": {
                "from": 1,
                "to": 1
              }
            },
            "file_id": "1aR-9OvaP3ai5mtQtdy7lGcCSkdf61YbEYnGJMyvN2aQ"
          },
          "pageContent": "Campaign 23"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "line": 4,
            "loc": {
              "lines": {
                "from": 1,
                "to": 1
              }
            },
            "file_id": "1aR-9OvaP3ai5mtQtdy7lGcCSkdf61YbEYnGJMyvN2aQ"
          },
          "pageContent": "Latvia"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "line": 5,
            "loc": {
              "lines": {
                "from": 1,
                "to": 1
              }
            },
            "file_id": "1aR-9OvaP3ai5mtQtdy7lGcCSkdf61YbEYnGJMyvN2aQ"
          },
          "pageContent": "227307"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "line": 6,
            "loc": {
              "lines": {
                "from": 1,
                "to": 1
              }
            },
            "file_id": "1aR-9OvaP3ai5mtQtdy7lGcCSkdf61YbEYnGJMyvN2aQ"
          },
          "pageContent": "0.9685227468"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "line": 7,
            "loc": {
              "lines": {
                "from": 1,
                "to": 1
              }
            },
            "file_id": "1aR-9OvaP3ai5mtQtdy7lGcCSkdf61YbEYnGJMyvN2aQ"
          },
          "pageContent": "525.29"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "line": 8,
            "loc": {
              "lines": {
                "from": 1,
                "to": 1
              }
            },
            "file_id": "1aR-9OvaP3ai5mtQtdy7lGcCSkdf61YbEYnGJMyvN2aQ"
          },
          "pageContent": "2.310927512"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "line": 9,
            "loc": {
              "lines": {
                "from": 1,
                "to": 1
              }
            },
            "file_id": "1aR-9OvaP3ai5mtQtdy7lGcCSkdf61YbEYnGJMyvN2aQ"
          },
          "pageContent": "0.0002639601948"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "line": 10,
            "loc": {
              "lines": {
                "from": 1,
                "to": 1
              }
            },
            "file_id": "1aR-9OvaP3ai5mtQtdy7lGcCSkdf61YbEYnGJMyvN2aQ"
          },
          "pageContent": "8.754833333"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "line": 1,
            "loc": {
              "lines": {
                "from": 1,
                "to": 1
              }
            },
            "file_id": "1aR-9OvaP3ai5mtQtdy7lGcCSkdf61YbEYnGJMyvN2aQ"
          },
          "pageContent": "Eskimi - Rita AM"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "line": 2,
            "loc": {
              "lines": {
                "from": 1,
                "to": 1
              }
            },
            "file_id": "1aR-9OvaP3ai5mtQtdy7lGcCSkdf61YbEYnGJMyvN2aQ"
          },
          "pageContent": "12368"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "line": 3,
            "loc": {
              "lines": {
                "from": 1,
                "to": 1
              }
            },
            "file_id": "1aR-9OvaP3ai5mtQtdy7lGcCSkdf61YbEYnGJMyvN2aQ"
          },
          "pageContent": "Campaign 24"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "line": 4,
            "loc": {
              "lines": {
                "from": 1,
                "to": 1
              }
            },
            "file_id": "1aR-9OvaP3ai5mtQtdy7lGcCSkdf61YbEYnGJMyvN2aQ"
          },
          "pageContent": "Latvia"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "line": 5,
            "loc": {
              "lines": {
                "from": 1,
                "to": 1
              }
            },
            "file_id": "1aR-9OvaP3ai5mtQtdy7lGcCSkdf61YbEYnGJMyvN2aQ"
          },
          "pageContent": "215976"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "line": 6,
            "loc": {
              "lines": {
                "from": 1,
                "to": 1
              }
            },
            "file_id": "1aR-9OvaP3ai5mtQtdy7lGcCSkdf61YbEYnGJMyvN2aQ"
          },
          "pageContent": "0"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "line": 7,
            "loc": {
              "lines": {
                "from": 1,
                "to": 1
              }
            },
            "file_id": "1aR-9OvaP3ai5mtQtdy7lGcCSkdf61YbEYnGJMyvN2aQ"
          },
          "pageContent": "1578.75"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "line": 8,
            "loc": {
              "lines": {
                "from": 1,
                "to": 1
              }
            },
            "file_id": "1aR-9OvaP3ai5mtQtdy7lGcCSkdf61YbEYnGJMyvN2aQ"
          },
          "pageContent": "7.309839982"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "line": 9,
            "loc": {
              "lines": {
                "from": 1,
                "to": 1
              }
            },
            "file_id": "1aR-9OvaP3ai5mtQtdy7lGcCSkdf61YbEYnGJMyvN2aQ"
          },
          "pageContent": "0.002764196022"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "line": 10,
            "loc": {
              "lines": {
                "from": 1,
                "to": 1
              }
            },
            "file_id": "1aR-9OvaP3ai5mtQtdy7lGcCSkdf61YbEYnGJMyvN2aQ"
          },
          "pageContent": "2.644472362"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "line": 1,
            "loc": {
              "lines": {
                "from": 1,
                "to": 1
              }
            },
            "file_id": "1aR-9OvaP3ai5mtQtdy7lGcCSkdf61YbEYnGJMyvN2aQ"
          },
          "pageContent": "Eskimi - Yana"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "line": 2,
            "loc": {
              "lines": {
                "from": 1,
                "to": 1
              }
            },
            "file_id": "1aR-9OvaP3ai5mtQtdy7lGcCSkdf61YbEYnGJMyvN2aQ"
          },
          "pageContent": "12369"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "line": 3,
            "loc": {
              "lines": {
                "from": 1,
                "to": 1
              }
            },
            "file_id": "1aR-9OvaP3ai5mtQtdy7lGcCSkdf61YbEYnGJMyvN2aQ"
          },
          "pageContent": "Campaign 25"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "line": 4,
            "loc": {
              "lines": {
                "from": 1,
                "to": 1
              }
            },
            "file_id": "1aR-9OvaP3ai5mtQtdy7lGcCSkdf61YbEYnGJMyvN2aQ"
          },
          "pageContent": "Latvia"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "line": 5,
            "loc": {
              "lines": {
                "from": 1,
                "to": 1
              }
            },
            "file_id": "1aR-9OvaP3ai5mtQtdy7lGcCSkdf61YbEYnGJMyvN2aQ"
          },
          "pageContent": "5829"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "line": 6,
            "loc": {
              "lines": {
                "from": 1,
                "to": 1
              }
            },
            "file_id": "1aR-9OvaP3ai5mtQtdy7lGcCSkdf61YbEYnGJMyvN2aQ"
          },
          "pageContent": "0.881111683"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "line": 7,
            "loc": {
              "lines": {
                "from": 1,
                "to": 1
              }
            },
            "file_id": "1aR-9OvaP3ai5mtQtdy7lGcCSkdf61YbEYnGJMyvN2aQ"
          },
          "pageContent": "14.57"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "line": 8,
            "loc": {
              "lines": {
                "from": 1,
                "to": 1
              }
            },
            "file_id": "1aR-9OvaP3ai5mtQtdy7lGcCSkdf61YbEYnGJMyvN2aQ"
          },
          "pageContent": "2.49957111"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "line": 9,
            "loc": {
              "lines": {
                "from": 1,
                "to": 1
              }
            },
            "file_id": "1aR-9OvaP3ai5mtQtdy7lGcCSkdf61YbEYnGJMyvN2aQ"
          },
          "pageContent": "0.0008577800652"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "line": 10,
            "loc": {
              "lines": {
                "from": 1,
                "to": 1
              }
            },
            "file_id": "1aR-9OvaP3ai5mtQtdy7lGcCSkdf61YbEYnGJMyvN2aQ"
          },
          "pageContent": "2.914"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "line": 1,
            "loc": {
              "lines": {
                "from": 1,
                "to": 1
              }
            },
            "file_id": "1aR-9OvaP3ai5mtQtdy7lGcCSkdf61YbEYnGJMyvN2aQ"
          },
          "pageContent": "Eskimi - Yana"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "line": 2,
            "loc": {
              "lines": {
                "from": 1,
                "to": 1
              }
            },
            "file_id": "1aR-9OvaP3ai5mtQtdy7lGcCSkdf61YbEYnGJMyvN2aQ"
          },
          "pageContent": "12370"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "line": 3,
            "loc": {
              "lines": {
                "from": 1,
                "to": 1
              }
            },
            "file_id": "1aR-9OvaP3ai5mtQtdy7lGcCSkdf61YbEYnGJMyvN2aQ"
          },
          "pageContent": "Campaign 26"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "line": 4,
            "loc": {
              "lines": {
                "from": 1,
                "to": 1
              }
            },
            "file_id": "1aR-9OvaP3ai5mtQtdy7lGcCSkdf61YbEYnGJMyvN2aQ"
          },
          "pageContent": "Latvia"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "line": 5,
            "loc": {
              "lines": {
                "from": 1,
                "to": 1
              }
            },
            "file_id": "1aR-9OvaP3ai5mtQtdy7lGcCSkdf61YbEYnGJMyvN2aQ"
          },
          "pageContent": "2662"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "line": 6,
            "loc": {
              "lines": {
                "from": 1,
                "to": 1
              }
            },
            "file_id": "1aR-9OvaP3ai5mtQtdy7lGcCSkdf61YbEYnGJMyvN2aQ"
          },
          "pageContent": "0"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "line": 7,
            "loc": {
              "lines": {
                "from": 1,
                "to": 1
              }
            },
            "file_id": "1aR-9OvaP3ai5mtQtdy7lGcCSkdf61YbEYnGJMyvN2aQ"
          },
          "pageContent": "13.6"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "line": 8,
            "loc": {
              "lines": {
                "from": 1,
                "to": 1
              }
            },
            "file_id": "1aR-9OvaP3ai5mtQtdy7lGcCSkdf61YbEYnGJMyvN2aQ"
          },
          "pageContent": "5.108940646"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "line": 9,
            "loc": {
              "lines": {
                "from": 1,
                "to": 1
              }
            },
            "file_id": "1aR-9OvaP3ai5mtQtdy7lGcCSkdf61YbEYnGJMyvN2aQ"
          },
          "pageContent": "0.002629601803"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "line": 10,
            "loc": {
              "lines": {
                "from": 1,
                "to": 1
              }
            },
            "file_id": "1aR-9OvaP3ai5mtQtdy7lGcCSkdf61YbEYnGJMyvN2aQ"
          },
          "pageContent": "1.942857143"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "line": 1,
            "loc": {
              "lines": {
                "from": 1,
                "to": 1
              }
            },
            "file_id": "1aR-9OvaP3ai5mtQtdy7lGcCSkdf61YbEYnGJMyvN2aQ"
          },
          "pageContent": "12371"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "line": 2,
            "loc": {
              "lines": {
                "from": 1,
                "to": 1
              }
            },
            "file_id": "1aR-9OvaP3ai5mtQtdy7lGcCSkdf61YbEYnGJMyvN2aQ"
          },
          "pageContent": "Campaign 27"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "line": 3,
            "loc": {
              "lines": {
                "from": 1,
                "to": 1
              }
            },
            "file_id": "1aR-9OvaP3ai5mtQtdy7lGcCSkdf61YbEYnGJMyvN2aQ"
          },
          "pageContent": "Latvia"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "line": 4,
            "loc": {
              "lines": {
                "from": 1,
                "to": 1
              }
            },
            "file_id": "1aR-9OvaP3ai5mtQtdy7lGcCSkdf61YbEYnGJMyvN2aQ"
          },
          "pageContent": "358120"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "line": 5,
            "loc": {
              "lines": {
                "from": 1,
                "to": 1
              }
            },
            "file_id": "1aR-9OvaP3ai5mtQtdy7lGcCSkdf61YbEYnGJMyvN2aQ"
          },
          "pageContent": "0.9970680219"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "line": 6,
            "loc": {
              "lines": {
                "from": 1,
                "to": 1
              }
            },
            "file_id": "1aR-9OvaP3ai5mtQtdy7lGcCSkdf61YbEYnGJMyvN2aQ"
          },
          "pageContent": "2048.59"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "line": 7,
            "loc": {
              "lines": {
                "from": 1,
                "to": 1
              }
            },
            "file_id": "1aR-9OvaP3ai5mtQtdy7lGcCSkdf61YbEYnGJMyvN2aQ"
          },
          "pageContent": "5.720400983"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "line": 8,
            "loc": {
              "lines": {
                "from": 1,
                "to": 1
              }
            },
            "file_id": "1aR-9OvaP3ai5mtQtdy7lGcCSkdf61YbEYnGJMyvN2aQ"
          },
          "pageContent": "0"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "line": 9,
            "loc": {
              "lines": {
                "from": 1,
                "to": 1
              }
            },
            "file_id": "1aR-9OvaP3ai5mtQtdy7lGcCSkdf61YbEYnGJMyvN2aQ"
          },
          "pageContent": "0"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "line": 1,
            "loc": {
              "lines": {
                "from": 1,
                "to": 1
              }
            },
            "file_id": "1aR-9OvaP3ai5mtQtdy7lGcCSkdf61YbEYnGJMyvN2aQ"
          },
          "pageContent": "12372"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "line": 2,
            "loc": {
              "lines": {
                "from": 1,
                "to": 1
              }
            },
            "file_id": "1aR-9OvaP3ai5mtQtdy7lGcCSkdf61YbEYnGJMyvN2aQ"
          },
          "pageContent": "Campaign 28"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "line": 3,
            "loc": {
              "lines": {
                "from": 1,
                "to": 1
              }
            },
            "file_id": "1aR-9OvaP3ai5mtQtdy7lGcCSkdf61YbEYnGJMyvN2aQ"
          },
          "pageContent": "Latvia"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "line": 4,
            "loc": {
              "lines": {
                "from": 1,
                "to": 1
              }
            },
            "file_id": "1aR-9OvaP3ai5mtQtdy7lGcCSkdf61YbEYnGJMyvN2aQ"
          },
          "pageContent": "129862"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "line": 5,
            "loc": {
              "lines": {
                "from": 1,
                "to": 1
              }
            },
            "file_id": "1aR-9OvaP3ai5mtQtdy7lGcCSkdf61YbEYnGJMyvN2aQ"
          },
          "pageContent": "0"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "line": 6,
            "loc": {
              "lines": {
                "from": 1,
                "to": 1
              }
            },
            "file_id": "1aR-9OvaP3ai5mtQtdy7lGcCSkdf61YbEYnGJMyvN2aQ"
          },
          "pageContent": "1510.03"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "line": 7,
            "loc": {
              "lines": {
                "from": 1,
                "to": 1
              }
            },
            "file_id": "1aR-9OvaP3ai5mtQtdy7lGcCSkdf61YbEYnGJMyvN2aQ"
          },
          "pageContent": "11.62795891"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "line": 8,
            "loc": {
              "lines": {
                "from": 1,
                "to": 1
              }
            },
            "file_id": "1aR-9OvaP3ai5mtQtdy7lGcCSkdf61YbEYnGJMyvN2aQ"
          },
          "pageContent": "0"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "line": 9,
            "loc": {
              "lines": {
                "from": 1,
                "to": 1
              }
            },
            "file_id": "1aR-9OvaP3ai5mtQtdy7lGcCSkdf61YbEYnGJMyvN2aQ"
          },
          "pageContent": "0"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "line": 1,
            "loc": {
              "lines": {
                "from": 1,
                "to": 1
              }
            },
            "file_id": "1aR-9OvaP3ai5mtQtdy7lGcCSkdf61YbEYnGJMyvN2aQ"
          },
          "pageContent": "Eskimi - Rita AM"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "line": 2,
            "loc": {
              "lines": {
                "from": 1,
                "to": 1
              }
            },
            "file_id": "1aR-9OvaP3ai5mtQtdy7lGcCSkdf61YbEYnGJMyvN2aQ"
          },
          "pageContent": "12373"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "line": 3,
            "loc": {
              "lines": {
                "from": 1,
                "to": 1
              }
            },
            "file_id": "1aR-9OvaP3ai5mtQtdy7lGcCSkdf61YbEYnGJMyvN2aQ"
          },
          "pageContent": "Campaign 29"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "line": 4,
            "loc": {
              "lines": {
                "from": 1,
                "to": 1
              }
            },
            "file_id": "1aR-9OvaP3ai5mtQtdy7lGcCSkdf61YbEYnGJMyvN2aQ"
          },
          "pageContent": "Latvia"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "line": 5,
            "loc": {
              "lines": {
                "from": 1,
                "to": 1
              }
            },
            "file_id": "1aR-9OvaP3ai5mtQtdy7lGcCSkdf61YbEYnGJMyvN2aQ"
          },
          "pageContent": "377702"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "line": 6,
            "loc": {
              "lines": {
                "from": 1,
                "to": 1
              }
            },
            "file_id": "1aR-9OvaP3ai5mtQtdy7lGcCSkdf61YbEYnGJMyvN2aQ"
          },
          "pageContent": "0.7399166539"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "line": 7,
            "loc": {
              "lines": {
                "from": 1,
                "to": 1
              }
            },
            "file_id": "1aR-9OvaP3ai5mtQtdy7lGcCSkdf61YbEYnGJMyvN2aQ"
          },
          "pageContent": "697.52"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "line": 8,
            "loc": {
              "lines": {
                "from": 1,
                "to": 1
              }
            },
            "file_id": "1aR-9OvaP3ai5mtQtdy7lGcCSkdf61YbEYnGJMyvN2aQ"
          },
          "pageContent": "1.846746906"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "line": 9,
            "loc": {
              "lines": {
                "from": 1,
                "to": 1
              }
            },
            "file_id": "1aR-9OvaP3ai5mtQtdy7lGcCSkdf61YbEYnGJMyvN2aQ"
          },
          "pageContent": "0.00002382830909"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "line": 10,
            "loc": {
              "lines": {
                "from": 1,
                "to": 1
              }
            },
            "file_id": "1aR-9OvaP3ai5mtQtdy7lGcCSkdf61YbEYnGJMyvN2aQ"
          },
          "pageContent": "77.50222222"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "line": 1,
            "loc": {
              "lines": {
                "from": 1,
                "to": 1
              }
            },
            "file_id": "1aR-9OvaP3ai5mtQtdy7lGcCSkdf61YbEYnGJMyvN2aQ"
          },
          "pageContent": "Eskimi - Rita AM"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "line": 2,
            "loc": {
              "lines": {
                "from": 1,
                "to": 1
              }
            },
            "file_id": "1aR-9OvaP3ai5mtQtdy7lGcCSkdf61YbEYnGJMyvN2aQ"
          },
          "pageContent": "12374"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "line": 3,
            "loc": {
              "lines": {
                "from": 1,
                "to": 1
              }
            },
            "file_id": "1aR-9OvaP3ai5mtQtdy7lGcCSkdf61YbEYnGJMyvN2aQ"
          },
          "pageContent": "Campaign 30"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "line": 4,
            "loc": {
              "lines": {
                "from": 1,
                "to": 1
              }
            },
            "file_id": "1aR-9OvaP3ai5mtQtdy7lGcCSkdf61YbEYnGJMyvN2aQ"
          },
          "pageContent": "Latvia"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "line": 5,
            "loc": {
              "lines": {
                "from": 1,
                "to": 1
              }
            },
            "file_id": "1aR-9OvaP3ai5mtQtdy7lGcCSkdf61YbEYnGJMyvN2aQ"
          },
          "pageContent": "1172480"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "line": 6,
            "loc": {
              "lines": {
                "from": 1,
                "to": 1
              }
            },
            "file_id": "1aR-9OvaP3ai5mtQtdy7lGcCSkdf61YbEYnGJMyvN2aQ"
          },
          "pageContent": "0.7538832219"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "line": 7,
            "loc": {
              "lines": {
                "from": 1,
                "to": 1
              }
            },
            "file_id": "1aR-9OvaP3ai5mtQtdy7lGcCSkdf61YbEYnGJMyvN2aQ"
          },
          "pageContent": "1039.93"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "line": 8,
            "loc": {
              "lines": {
                "from": 1,
                "to": 1
              }
            },
            "file_id": "1aR-9OvaP3ai5mtQtdy7lGcCSkdf61YbEYnGJMyvN2aQ"
          },
          "pageContent": "0.8869490311"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "line": 9,
            "loc": {
              "lines": {
                "from": 1,
                "to": 1
              }
            },
            "file_id": "1aR-9OvaP3ai5mtQtdy7lGcCSkdf61YbEYnGJMyvN2aQ"
          },
          "pageContent": "0.000586790393"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "line": 10,
            "loc": {
              "lines": {
                "from": 1,
                "to": 1
              }
            },
            "file_id": "1aR-9OvaP3ai5mtQtdy7lGcCSkdf61YbEYnGJMyvN2aQ"
          },
          "pageContent": "1.511526163"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "line": 1,
            "loc": {
              "lines": {
                "from": 1,
                "to": 1
              }
            },
            "file_id": "1aR-9OvaP3ai5mtQtdy7lGcCSkdf61YbEYnGJMyvN2aQ"
          },
          "pageContent": "Eskimi - Bukayo"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "line": 2,
            "loc": {
              "lines": {
                "from": 1,
                "to": 1
              }
            },
            "file_id": "1aR-9OvaP3ai5mtQtdy7lGcCSkdf61YbEYnGJMyvN2aQ"
          },
          "pageContent": "12375"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "line": 3,
            "loc": {
              "lines": {
                "from": 1,
                "to": 1
              }
            },
            "file_id": "1aR-9OvaP3ai5mtQtdy7lGcCSkdf61YbEYnGJMyvN2aQ"
          },
          "pageContent": "Campaign 31"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "line": 4,
            "loc": {
              "lines": {
                "from": 1,
                "to": 1
              }
            },
            "file_id": "1aR-9OvaP3ai5mtQtdy7lGcCSkdf61YbEYnGJMyvN2aQ"
          },
          "pageContent": "Latvia"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "line": 5,
            "loc": {
              "lines": {
                "from": 1,
                "to": 1
              }
            },
            "file_id": "1aR-9OvaP3ai5mtQtdy7lGcCSkdf61YbEYnGJMyvN2aQ"
          },
          "pageContent": "95451"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "line": 6,
            "loc": {
              "lines": {
                "from": 1,
                "to": 1
              }
            },
            "file_id": "1aR-9OvaP3ai5mtQtdy7lGcCSkdf61YbEYnGJMyvN2aQ"
          },
          "pageContent": "0.9568260154"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "line": 7,
            "loc": {
              "lines": {
                "from": 1,
                "to": 1
              }
            },
            "file_id": "1aR-9OvaP3ai5mtQtdy7lGcCSkdf61YbEYnGJMyvN2aQ"
          },
          "pageContent": "38.18"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "line": 8,
            "loc": {
              "lines": {
                "from": 1,
                "to": 1
              }
            },
            "file_id": "1aR-9OvaP3ai5mtQtdy7lGcCSkdf61YbEYnGJMyvN2aQ"
          },
          "pageContent": "0.3999958094"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "line": 9,
            "loc": {
              "lines": {
                "from": 1,
                "to": 1
              }
            },
            "file_id": "1aR-9OvaP3ai5mtQtdy7lGcCSkdf61YbEYnGJMyvN2aQ"
          },
          "pageContent": "0.001120994018"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "line": 10,
            "loc": {
              "lines": {
                "from": 1,
                "to": 1
              }
            },
            "file_id": "1aR-9OvaP3ai5mtQtdy7lGcCSkdf61YbEYnGJMyvN2aQ"
          },
          "pageContent": "0.3568224299"
        }
      }
    ],
    "Extract from File1": [
      {
        "json": {
          "data": "Expectation vs. Reality: Clicks = Sessions?\r\nHow often do you receive the question from the client: Why Session volumes on 3rd party platform, Google Analytics, do not match clicks that the campaign has reached? The question is a big head ace for advertisers. However, we wish to give clear answers and demolish the ongoing myth that Clicks = Sessions.\r\n\r\nFirst, it is necessary to understand both concepts. Clicks indicate how many times your content was clicked by people while they were browsing online. Sessions, on the other hand, are a group of interactions that take place on your website within a given time frame.\r\n\r\nSecond, it is relevant to know the cause of the ongoing mismatch between different metrics. There are several reasons why these two numbers may not match:\r\nAds may be clicked multiple times. A user can click on an ad multiple times, but Google Analytics will only count these clicks as one session.\r\n\r\nReturning users. A user can click on your ad, bookmark your site, and come back later during a different session. In this scenario, only one click would be recorded, while Google Analytics would recognize this as two separate sessions.\r\n\r\nA user clicks and leaves quickly. A user may click on your ad but leave quickly by hitting the back or stop button before Google Analytics has a chance to load its tracking code and record the visit as a session. However, this would be counted as one click.\r\n\r\nSession timeout. Google Analytics sessions are timed out after 30 minutes of inactivity. This means that if a user gets distracted and does something else during that time, then comes back and browses the site again later, it would be counted as two sessions."
        }
      },
      {
        "json": {
          "data": "Filtered Impressions\r\nThe Filtered Impressions widget is a helpful tool that shows the percentage of impressions that were filtered out from your campaigns. This can happen due to multiple reasons, such as specific targeting settings, creatives, budget & pacing limitations, and more. The percentage displayed indicates the number of impressions that didn't meet the specified criteria and were therefore excluded from the campaign.\r\nImpressions can be filtered for the following reasons.\r\n________________\r\n\r\n\r\nPre-bid\r\nThe number of impressions not bought due to a pre-bid issue:\r\n* Invalid traffic. Number of queries that were filtered because they are considered invalid traffic, e.g. fake clickers.\r\n* Unauthorized seller (Ads.txt). Number of queries that were filtered because they are from Unauthorized Sellers. \r\n* Rewarded ads are not supported. Number of queries that were filtered because the requests contain rewarded ads that are not supported.\r\n________________\r\n\r\n\r\nTargeting\r\nThe number of impressions that were filtered due to targeting settings on your campaigns. \r\nTargeting Setting\r\n\tDescription\r\n\tAd placement position\r\n\tImpressions that did not match ad positions selected in the campaign, e.g. above the fold.\r\n\tSEC & LSM\r\n\tImpressions that did not match the SEC & LSM targeting selected in the campaign. Read more here. \r\n\tAudience\r\n\tImpressions that did not match the audience targeting options used in the campaign, e.g. DMP audience or retargeting audience. \r\n\tDevice \r\n\tImpressions that did not match the device targeting used in the campaign. It could be related to device type, OS, brand or model. \r\n\tBrowser\r\n\tImpressions that did not match the targeted web browser in the campaign. \r\n\tEnvironment\r\n\tImpressions that did not match the environment (apps or sites) targeting options used in the campaign.\r\n\tOperator/ISP\r\n\tImpressions that were excluded due to operator/ISP targeting options used in the campaign.\r\n\tLocation\r\n\tImpressions that did not match the location targeting of the campaign, e.g. country, cities, states, or zip codes.\r\n\tLanguage\r\n\tImpressions that were excluded due to language targeting options selected in the campaign.\r\n\tBrand Safety\r\n\tImpressions that did not match one or more brand safety settings set up in the campaign.\r\n\tIP addresses/ranges \r\n\tImpressions that did not match the targeted IP address or ranges of the campaign.\r\n\tCategories\r\n\tImpressions that did not match the app/site categories selection of the campaign. \r\n\t________________\r\n\r\n\r\nCreatives\r\nThe number of impressions that were filtered due to issues with creatives selected in the campaign.\r\nDisplay creatives aspects\r\n* Native ad is not SSL compliant. Impressions filtered due to non-SSL content, such as landing pages or third-party trackers using HTTP instead of HTTPS protocol.\r\n* Banner JavaScript is not supported. Impressions that are filtered because JavaScript is not supported. This can be related to rich media, or JavaScript creatives and ad exchanges that dont support JavaScript tags.\r\n* Native ad asset is invalid. Native video creative image sizes are not suitable for native format alternative images.\r\n* Video ad companion is not supported. Impressions are filtered because the potential placement does not support the companion banner.\r\n* Banner topframe. Impressions that are filtered due to selected top frame placement targeting.\r\nVideo creative aspects\r\n* Video ad skip is not supported. Impressions that are excluded due to placement limitations for selected video ad skip ability options.\r\n* Video ad VPAID or OMID is not supported. Impressions that are filtered due to selected viewability tracking methods in creative settings. Learn more about VPAID or OMID.\r\n* Video ad max duration exceeded. Impressions that are excluded because the video creative exceeds the allowed duration limit.\r\n* Video ad VAST version is not supported. Impressions that are filtered due to the uploaded VAST tag version.\r\n* Video ad start delay is not supported. Impressions that are filtered because of the start delay option that is applied in creative settings.\r\n* Video ad min duration is not reached. Impressions that are filtered due to too short video creative duration.\r\n* Video ad MRAID is not supported. Impressions that are filtered as the placement does not support MRAID. Not all apps support MRAID, meaning that the impressions from the ones that dont support it are getting filtered.  \r\n* Video placement. Impressions that are filtered due to selected video player placement (e.g. in banner, in article, in feed, interstitial, etc.).\r\n* Video Linear/In-Stream placement. Impressions that are filtered due to selected video player requirements related to Linear/In-stream placements. \r\nPlacement limitations \r\n* Creative category is not allowed. Impressions that are filtered due to restricted creative category.\r\n* Creative is not approved.  Impressions that are filtered as the selected creative is pending approval or was rejected by ad exchange.\r\nPublisher restrictions\r\n* Click URL excluded by publisher. Impressions that are filtered due to declared click URL which is excluded by publisher.\r\n* Product category excluded by the publisher. Impressions that are filtered due to detected sensitive advertised product category.\r\n* Sensitive category excluded by the publisher. Impressions that are filtered due to detected sensitive creative content category.\r\nBudget & pacing\r\nThe number of impressions meeting targeting criteria with eligible creatives, but with bids exceeding any of the below limits:\r\n \r\n* Frequency capping. Can be set on a campaign level. If the impressions limit for a user on a given period is reached, further impressions will be filtered out for the given period. \r\n* Bid is too low. The bid price falls below the floor or exchange/publisher minimum price in an open auction. Increasing the bid might help to improve campaign performance by allowing the campaign to bid on placements with higher bid floors."
        }
      },
      {
        "json": {
          "data": "Eskimi optimisation possibilities\r\nThe purpose of optimisation is to improve how well your campaign achieves its objectives. It involves modifying your advertising strategies in accordance with the data you collect. Eskimi DSP supports multiple optimisation techniques which can be used to make adjustments in campaigns. Using these possibilities you will be able to reach the performance which aligns with advertising goals. \r\nThe optimisation process itself can look like an easy task, however it is important not to get lost in multiple techniques and focus on the main campaign's objectives. Therefore, it is essential to:\r\n* set the right goal for your campaign\r\n* determine primary and secondary objectives to measure progress\r\n* use tools like Google Analytics (GA) to track and measure post click performance. \r\n________________\r\n\r\n\r\nEskimi DSP auto-optimisation (goals and objectives)\r\nWhen you set specific campaign goals and objectives, such as awareness or traffic, it allows the auto-optimization algorithms to focus on those specific metrics. Eskimi DSP platform will then automatically optimize ad placements, creatives and publishers to achieve predefined objectives. \r\nAuto-optimisation works based on the set objective values in primary and secondary campaign objective part. That means that the system will bid on specific placements in order to determine if it meets objective values. If the placement will not meet the value, the system won't bid on it anymore. \r\nAdditionally, there is a possibility to set Pre-optimisation based on historical placement stats, to enhance campaign performance. Historical placement stats refer to the data and performance metrics collected from previous campaigns' advertising placements. \r\nPre-optimization using historical placement stats streamlines campaign setup by leveraging proven successful strategies, reducing trial-and-error and optimizing resource allocation. However, considering factors like advertising changes, consumer behavior, and platform updates is crucial for ongoing optimization.\r\nCampaign objectives differ based on the campaign's type. Display campaign support auto-optimisation based on: CPC (cost per click), CTR (click through rate), CPA (cost per action), VR (viewability rate), CVR (click to visit rate), ER (engagement rate), CPE (cost per engagement), CPVst (cost per visit), SR (session rate), CPS (cost per session). Video campaign support: CPC, CTR, CPA, MVTR (minimum view-through rate), CPCVV (cost per completed video view), VVR (video viewability rate), SR, CPS. \r\nLimitations:\r\n* CPA auto-optimisation is supported only once Eskimi conversion pixel is implemented. \r\n* CVR, SR, CPVst, CPS auto-optimisation is supported only once Eskimi audience pixel is implemented. \r\n* Eskimi DSP supports main and custom conversions' tracking, however the optimisation can be done only by main conversion performance.  \r\n________________\r\n\r\n\r\nManual optimisation (Targeting optimisation)\r\n \r\nThe manual optimisation can be found on Eskimi DSP Targeting optimisation section. It allows to analyze the campaign's performance (historical data) by listed segments and by all performance metrics and optimize by pausing the individual elements such as specific creative, exchange, site. \r\nManual optimisation can be done by the following segments: \r\n* exchange \r\n* creative \r\n* operating system \r\n* browser \r\n* operator \r\n* app/site name \r\n* package \r\n* placement \r\n________________\r\n\r\n\r\nAudience and conversion pixels\r\nIn order to track retargeting (site first party) audience, engaged sessions and conversions it is necessary to implement Eskimi tracking pixels on the landing page.\r\nImplemented pixels allows you not only to see the metrics but also optimize on them which is significantly important. With implemented pixels you can see (just a few examples):\r\n* from which websites or apps the conversions was made and based on that optimize the inventory\r\n* what is the conversion rate of particular creative which allows to optimize on creatives \r\n* which browsers generate the most sessions which gives opportunity to optimize on browsers. \r\nAudience and conversion pixels give you multiple opportunities to optimize on better performance therefore it is strongly recommended to implement them for multiple campaigns' objectives. \r\n________________\r\n\r\n\r\nUTM\r\nThe UTM helps to indicate performance based on specific segment on Google Analytics side. For example UTM content part {site_id} is crucial if we want to see the performance on GA side by site and site id. This allows you to create the whitelist/blacklist based on the performance with specific site/app ids and use it in Eskimi DSP campaign. \r\nBy default ESKIMI UTMs include: \r\nUTM source - eskimi\r\nUTM medium - cpm\r\nUTM campaign - {campaign_title}\r\nUTM term - {creative_size}\r\nUTM content - eskimidsp_{site_id}\r\nThe UTMs' values and macroses can be also updated based on the needs.\r\nIt is a pretty common case that GA report shows a poor performance of specific campaign in terms of session rate, bounce rate, etc. while the landing page of that particular campaign does not have any UTMs. That means that you are not able to filter the performance by site id or any other segment on GA side, therefore leaving you without any possibility to optimise the campaign on Eskimi DSP side. \r\n________________\r\n\r\n\r\nIntegral Ad Science (IAS), DoubleVerify (DV)\r\nIntegral Ad Science (IAS), DoubleVerify (DV) trackers are most often used for tracking and evaluation of inventory and traffic quality, viewability. By default all these trackers evaluate performance by bundle/domain. However, it is possible to have more segments such as campaign ID, creative ID and more.  \r\nFor example Eskimi DSP IAS pixel includes: campaign ID, site title, site id, creative size. These macroses indicate that there will be a possibility to analyze the performance by the mentioned splits and to optimize on them.\r\n \r\nAll of the mentioned trackers provide information on inventory and traffic quality which can be used for manual optimisation on Eskimi DSP side. The manual optimisation can be done on IVT (invalid traffic), viewability and other metrics which can improve the overall performance."
        }
      },
      {
        "json": {
          "data": "Eskimi DSP Policies for Advertising Partners\r\nProhibited Content\r\nAdvertising Partners must not serve ads which promote the following content.\r\n* Ads making misleading or deceptive claims\r\n* Adult sexual content\r\n* Copyrighted materials\r\n* Counterfeit goods\r\n* Drugs and drug paraphernalia\r\n* Endangered species products\r\n* Hate content\r\n* Illegal products and services\r\n* Incentivized clicks and downloads\r\n* Inappropriate content\r\n* Low quality content\r\n* P2P file-sharing apps, torrent or any apps that facilitate or promote copyright infringement\r\n* Weapons and weapons accessories\r\nRestricted Content\r\nAdvertising Partners may run advertisements that contain the following content, or that promote the following categories of products and services, only as permitted under a selected markets.\r\n* Alcohol content\r\n* Financial services\r\n* Gambling content\r\n* Lotteries content\r\n* Tobacco and tobacco accessories\r\n* Health and pharmaceutical products and services\r\nProhibited Content for Under Age Users\r\nAdvertising Partners may not use the Eskimi DSP Services to target or re-target to users under the age of 18, nor to websites or apps directed to users under the age of 18. \r\nProhibited Creative Attributes\r\nAdvertising Partners must not serve ads with these creative attributes or behaviors:\r\n* (IAB8) Pop (e.g. Over, Under, or Upon Exit)\r\n* (IAB14) Windows Dialog or Alert Style (e.g., any creative that a user might mistake for an OS or application-level notification rather than an advertisement): This includes, but is not limited to, deceptive ads that resemble user interface elements (e.g., text boxes) and creatives that mimic buttons or icons that claim a functionality that is not there (e.g., play, chat, wink, friends, search buttons)\r\n* (IAB3) Expandable (Automatic)  ads that automatically expand without the users engagement or action (e.g., click, touch)\r\n* Auto-redirect: ads that automatically redirect the user without the users engagement or action (e.g., click, touch)\r\n* (IAB11) Ads that do not ask the user for permission before initiating any downloads/installations/services/fees. \r\nEditorial Content Policies for Advertising Creatives\r\nOur editorial guidelines are in place to ensure that users have a positive user experience with creatives on Eskimi DSP.\r\n* Accurate and clear content: Creatives should be of high editorial quality. Those which are gimmicky, misleading, or of low editorial quality are prohibited.\r\n* Offensive language: Do not include language in creatives that could offend or shock users (e.g., IAB25-4 Profane Content).\r\nEnforcement\r\nYour use of the Eskimi DSP Services is subject to these policies and any agreements you have entered into with Eskimi DSP. If we suspect that an ad is in violation of our policies or agreements, then we may stop it from running, and it may no longer be accepted in Eskimi DSP. In some cases, including but not limited to multiple or severe violations of our rights or policies, we may suspend or terminate your account."
        }
      }
    ],
    "Supabase Vector Store": [
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "loc": {
              "lines": {
                "from": 1,
                "to": 7
              }
            },
            "file_id": "1GQDvLJQdUKgAZSbLM6V4czIb0epjqBNCY0g2A9pXHio"
          },
          "pageContent": "Expectation vs. Reality: Clicks = Sessions?\r\nHow often do you receive the question from the client: Why Session volumes on 3rd party platform, Google Analytics, do not match clicks that the campaign has reached? The question is a big head ace for advertisers. However, we wish to give clear answers and demolish the ongoing myth that Clicks = Sessions.\r\n\r\nFirst, it is necessary to understand both concepts. Clicks indicate how many times your content was clicked by people while they were browsing online. Sessions, on the other hand, are a group of interactions that take place on your website within a given time frame.\r\n\r\nSecond, it is relevant to know the cause of the ongoing mismatch between different metrics. There are several reasons why these two numbers may not match:\r\nAds may be clicked multiple times. A user can click on an ad multiple times, but Google Analytics will only count these clicks as one session."
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "loc": {
              "lines": {
                "from": 9,
                "to": 13
              }
            },
            "file_id": "1GQDvLJQdUKgAZSbLM6V4czIb0epjqBNCY0g2A9pXHio"
          },
          "pageContent": "Returning users. A user can click on your ad, bookmark your site, and come back later during a different session. In this scenario, only one click would be recorded, while Google Analytics would recognize this as two separate sessions.\r\n\r\nA user clicks and leaves quickly. A user may click on your ad but leave quickly by hitting the back or stop button before Google Analytics has a chance to load its tracking code and record the visit as a session. However, this would be counted as one click.\r\n\r\nSession timeout. Google Analytics sessions are timed out after 30 minutes of inactivity. This means that if a user gets distracted and does something else during that time, then comes back and browses the site again later, it would be counted as two sessions."
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "loc": {
              "lines": {
                "from": 1,
                "to": 15
              }
            },
            "file_id": "1F-3YvWDf00vwZJ4AfXFbzfVVpA9PyFzjDLKD2l17GSI"
          },
          "pageContent": "Filtered Impressions\r\nThe Filtered Impressions widget is a helpful tool that shows the percentage of impressions that were filtered out from your campaigns. This can happen due to multiple reasons, such as specific targeting settings, creatives, budget & pacing limitations, and more. The percentage displayed indicates the number of impressions that didn't meet the specified criteria and were therefore excluded from the campaign.\r\nImpressions can be filtered for the following reasons.\r\n________________\r\n\r\n\r\nPre-bid\r\nThe number of impressions not bought due to a pre-bid issue:\r\n* Invalid traffic. Number of queries that were filtered because they are considered invalid traffic, e.g. fake clickers.\r\n* Unauthorized seller (Ads.txt). Number of queries that were filtered because they are from Unauthorized Sellers. \r\n* Rewarded ads are not supported. Number of queries that were filtered because the requests contain rewarded ads that are not supported.\r\n________________\r\n\r\n\r\nTargeting"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "loc": {
              "lines": {
                "from": 16,
                "to": 33
              }
            },
            "file_id": "1F-3YvWDf00vwZJ4AfXFbzfVVpA9PyFzjDLKD2l17GSI"
          },
          "pageContent": "The number of impressions that were filtered due to targeting settings on your campaigns. \r\nTargeting Setting\r\n\tDescription\r\n\tAd placement position\r\n\tImpressions that did not match ad positions selected in the campaign, e.g. above the fold.\r\n\tSEC & LSM\r\n\tImpressions that did not match the SEC & LSM targeting selected in the campaign. Read more here. \r\n\tAudience\r\n\tImpressions that did not match the audience targeting options used in the campaign, e.g. DMP audience or retargeting audience. \r\n\tDevice \r\n\tImpressions that did not match the device targeting used in the campaign. It could be related to device type, OS, brand or model. \r\n\tBrowser\r\n\tImpressions that did not match the targeted web browser in the campaign. \r\n\tEnvironment\r\n\tImpressions that did not match the environment (apps or sites) targeting options used in the campaign.\r\n\tOperator/ISP\r\n\tImpressions that were excluded due to operator/ISP targeting options used in the campaign.\r\n\tLocation"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "loc": {
              "lines": {
                "from": 34,
                "to": 49
              }
            },
            "file_id": "1F-3YvWDf00vwZJ4AfXFbzfVVpA9PyFzjDLKD2l17GSI"
          },
          "pageContent": "Impressions that did not match the location targeting of the campaign, e.g. country, cities, states, or zip codes.\r\n\tLanguage\r\n\tImpressions that were excluded due to language targeting options selected in the campaign.\r\n\tBrand Safety\r\n\tImpressions that did not match one or more brand safety settings set up in the campaign.\r\n\tIP addresses/ranges \r\n\tImpressions that did not match the targeted IP address or ranges of the campaign.\r\n\tCategories\r\n\tImpressions that did not match the app/site categories selection of the campaign. \r\n\t________________\r\n\r\n\r\nCreatives\r\nThe number of impressions that were filtered due to issues with creatives selected in the campaign.\r\nDisplay creatives aspects\r\n* Native ad is not SSL compliant. Impressions filtered due to non-SSL content, such as landing pages or third-party trackers using HTTP instead of HTTPS protocol."
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "loc": {
              "lines": {
                "from": 50,
                "to": 56
              }
            },
            "file_id": "1F-3YvWDf00vwZJ4AfXFbzfVVpA9PyFzjDLKD2l17GSI"
          },
          "pageContent": "* Banner JavaScript is not supported. Impressions that are filtered because JavaScript is not supported. This can be related to rich media, or JavaScript creatives and ad exchanges that dont support JavaScript tags.\r\n* Native ad asset is invalid. Native video creative image sizes are not suitable for native format alternative images.\r\n* Video ad companion is not supported. Impressions are filtered because the potential placement does not support the companion banner.\r\n* Banner topframe. Impressions that are filtered due to selected top frame placement targeting.\r\nVideo creative aspects\r\n* Video ad skip is not supported. Impressions that are excluded due to placement limitations for selected video ad skip ability options.\r\n* Video ad VPAID or OMID is not supported. Impressions that are filtered due to selected viewability tracking methods in creative settings. Learn more about VPAID or OMID."
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "loc": {
              "lines": {
                "from": 57,
                "to": 62
              }
            },
            "file_id": "1F-3YvWDf00vwZJ4AfXFbzfVVpA9PyFzjDLKD2l17GSI"
          },
          "pageContent": "* Video ad max duration exceeded. Impressions that are excluded because the video creative exceeds the allowed duration limit.\r\n* Video ad VAST version is not supported. Impressions that are filtered due to the uploaded VAST tag version.\r\n* Video ad start delay is not supported. Impressions that are filtered because of the start delay option that is applied in creative settings.\r\n* Video ad min duration is not reached. Impressions that are filtered due to too short video creative duration.\r\n* Video ad MRAID is not supported. Impressions that are filtered as the placement does not support MRAID. Not all apps support MRAID, meaning that the impressions from the ones that dont support it are getting filtered.  \r\n* Video placement. Impressions that are filtered due to selected video player placement (e.g. in banner, in article, in feed, interstitial, etc.)."
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "loc": {
              "lines": {
                "from": 63,
                "to": 72
              }
            },
            "file_id": "1F-3YvWDf00vwZJ4AfXFbzfVVpA9PyFzjDLKD2l17GSI"
          },
          "pageContent": "* Video Linear/In-Stream placement. Impressions that are filtered due to selected video player requirements related to Linear/In-stream placements. \r\nPlacement limitations \r\n* Creative category is not allowed. Impressions that are filtered due to restricted creative category.\r\n* Creative is not approved.  Impressions that are filtered as the selected creative is pending approval or was rejected by ad exchange.\r\nPublisher restrictions\r\n* Click URL excluded by publisher. Impressions that are filtered due to declared click URL which is excluded by publisher.\r\n* Product category excluded by the publisher. Impressions that are filtered due to detected sensitive advertised product category.\r\n* Sensitive category excluded by the publisher. Impressions that are filtered due to detected sensitive creative content category.\r\nBudget & pacing\r\nThe number of impressions meeting targeting criteria with eligible creatives, but with bids exceeding any of the below limits:"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "loc": {
              "lines": {
                "from": 74,
                "to": 75
              }
            },
            "file_id": "1F-3YvWDf00vwZJ4AfXFbzfVVpA9PyFzjDLKD2l17GSI"
          },
          "pageContent": "* Frequency capping. Can be set on a campaign level. If the impressions limit for a user on a given period is reached, further impressions will be filtered out for the given period. \r\n* Bid is too low. The bid price falls below the floor or exchange/publisher minimum price in an open auction. Increasing the bid might help to improve campaign performance by allowing the campaign to bid on placements with higher bid floors."
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "loc": {
              "lines": {
                "from": 1,
                "to": 10
              }
            },
            "file_id": "1T_Szdp5EVDAxkQuBCZ51DiQ6kmdsO_nOgMhGg6jH2aw"
          },
          "pageContent": "Eskimi optimisation possibilities\r\nThe purpose of optimisation is to improve how well your campaign achieves its objectives. It involves modifying your advertising strategies in accordance with the data you collect. Eskimi DSP supports multiple optimisation techniques which can be used to make adjustments in campaigns. Using these possibilities you will be able to reach the performance which aligns with advertising goals. \r\nThe optimisation process itself can look like an easy task, however it is important not to get lost in multiple techniques and focus on the main campaign's objectives. Therefore, it is essential to:\r\n* set the right goal for your campaign\r\n* determine primary and secondary objectives to measure progress\r\n* use tools like Google Analytics (GA) to track and measure post click performance. \r\n________________\r\n\r\n\r\nEskimi DSP auto-optimisation (goals and objectives)"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "loc": {
              "lines": {
                "from": 11,
                "to": 13
              }
            },
            "file_id": "1T_Szdp5EVDAxkQuBCZ51DiQ6kmdsO_nOgMhGg6jH2aw"
          },
          "pageContent": "When you set specific campaign goals and objectives, such as awareness or traffic, it allows the auto-optimization algorithms to focus on those specific metrics. Eskimi DSP platform will then automatically optimize ad placements, creatives and publishers to achieve predefined objectives. \r\nAuto-optimisation works based on the set objective values in primary and secondary campaign objective part. That means that the system will bid on specific placements in order to determine if it meets objective values. If the placement will not meet the value, the system won't bid on it anymore. \r\nAdditionally, there is a possibility to set Pre-optimisation based on historical placement stats, to enhance campaign performance. Historical placement stats refer to the data and performance metrics collected from previous campaigns' advertising placements."
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "loc": {
              "lines": {
                "from": 14,
                "to": 17
              }
            },
            "file_id": "1T_Szdp5EVDAxkQuBCZ51DiQ6kmdsO_nOgMhGg6jH2aw"
          },
          "pageContent": "Pre-optimization using historical placement stats streamlines campaign setup by leveraging proven successful strategies, reducing trial-and-error and optimizing resource allocation. However, considering factors like advertising changes, consumer behavior, and platform updates is crucial for ongoing optimization.\r\nCampaign objectives differ based on the campaign's type. Display campaign support auto-optimisation based on: CPC (cost per click), CTR (click through rate), CPA (cost per action), VR (viewability rate), CVR (click to visit rate), ER (engagement rate), CPE (cost per engagement), CPVst (cost per visit), SR (session rate), CPS (cost per session). Video campaign support: CPC, CTR, CPA, MVTR (minimum view-through rate), CPCVV (cost per completed video view), VVR (video viewability rate), SR, CPS. \r\nLimitations:\r\n* CPA auto-optimisation is supported only once Eskimi conversion pixel is implemented."
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "loc": {
              "lines": {
                "from": 18,
                "to": 39
              }
            },
            "file_id": "1T_Szdp5EVDAxkQuBCZ51DiQ6kmdsO_nOgMhGg6jH2aw"
          },
          "pageContent": "* CVR, SR, CPVst, CPS auto-optimisation is supported only once Eskimi audience pixel is implemented. \r\n* Eskimi DSP supports main and custom conversions' tracking, however the optimisation can be done only by main conversion performance.  \r\n________________\r\n\r\n\r\nManual optimisation (Targeting optimisation)\r\n \r\nThe manual optimisation can be found on Eskimi DSP Targeting optimisation section. It allows to analyze the campaign's performance (historical data) by listed segments and by all performance metrics and optimize by pausing the individual elements such as specific creative, exchange, site. \r\nManual optimisation can be done by the following segments: \r\n* exchange \r\n* creative \r\n* operating system \r\n* browser \r\n* operator \r\n* app/site name \r\n* package \r\n* placement \r\n________________\r\n\r\n\r\nAudience and conversion pixels\r\nIn order to track retargeting (site first party) audience, engaged sessions and conversions it is necessary to implement Eskimi tracking pixels on the landing page."
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "loc": {
              "lines": {
                "from": 40,
                "to": 48
              }
            },
            "file_id": "1T_Szdp5EVDAxkQuBCZ51DiQ6kmdsO_nOgMhGg6jH2aw"
          },
          "pageContent": "Implemented pixels allows you not only to see the metrics but also optimize on them which is significantly important. With implemented pixels you can see (just a few examples):\r\n* from which websites or apps the conversions was made and based on that optimize the inventory\r\n* what is the conversion rate of particular creative which allows to optimize on creatives \r\n* which browsers generate the most sessions which gives opportunity to optimize on browsers. \r\nAudience and conversion pixels give you multiple opportunities to optimize on better performance therefore it is strongly recommended to implement them for multiple campaigns' objectives. \r\n________________\r\n\r\n\r\nUTM"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "loc": {
              "lines": {
                "from": 49,
                "to": 57
              }
            },
            "file_id": "1T_Szdp5EVDAxkQuBCZ51DiQ6kmdsO_nOgMhGg6jH2aw"
          },
          "pageContent": "The UTM helps to indicate performance based on specific segment on Google Analytics side. For example UTM content part {site_id} is crucial if we want to see the performance on GA side by site and site id. This allows you to create the whitelist/blacklist based on the performance with specific site/app ids and use it in Eskimi DSP campaign. \r\nBy default ESKIMI UTMs include: \r\nUTM source - eskimi\r\nUTM medium - cpm\r\nUTM campaign - {campaign_title}\r\nUTM term - {creative_size}\r\nUTM content - eskimidsp_{site_id}\r\nThe UTMs' values and macroses can be also updated based on the needs.\r\nIt is a pretty common case that GA report shows a poor performance of specific campaign in terms of session rate, bounce rate, etc. while the landing page of that particular campaign does not have any UTMs. That means that you are not able to filter the performance by site id or any other segment on GA side, therefore leaving you without any possibility to optimise the campaign on Eskimi DSP side."
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "loc": {
              "lines": {
                "from": 58,
                "to": 65
              }
            },
            "file_id": "1T_Szdp5EVDAxkQuBCZ51DiQ6kmdsO_nOgMhGg6jH2aw"
          },
          "pageContent": "________________\r\n\r\n\r\nIntegral Ad Science (IAS), DoubleVerify (DV)\r\nIntegral Ad Science (IAS), DoubleVerify (DV) trackers are most often used for tracking and evaluation of inventory and traffic quality, viewability. By default all these trackers evaluate performance by bundle/domain. However, it is possible to have more segments such as campaign ID, creative ID and more.  \r\nFor example Eskimi DSP IAS pixel includes: campaign ID, site title, site id, creative size. These macroses indicate that there will be a possibility to analyze the performance by the mentioned splits and to optimize on them.\r\n \r\nAll of the mentioned trackers provide information on inventory and traffic quality which can be used for manual optimisation on Eskimi DSP side. The manual optimisation can be done on IVT (invalid traffic), viewability and other metrics which can improve the overall performance."
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "loc": {
              "lines": {
                "from": 1,
                "to": 24
              }
            },
            "file_id": "16LUlxGkHKZp39Q743RlYz9-SatRYccmslCV9-NYzjbE"
          },
          "pageContent": "Eskimi DSP Policies for Advertising Partners\r\nProhibited Content\r\nAdvertising Partners must not serve ads which promote the following content.\r\n* Ads making misleading or deceptive claims\r\n* Adult sexual content\r\n* Copyrighted materials\r\n* Counterfeit goods\r\n* Drugs and drug paraphernalia\r\n* Endangered species products\r\n* Hate content\r\n* Illegal products and services\r\n* Incentivized clicks and downloads\r\n* Inappropriate content\r\n* Low quality content\r\n* P2P file-sharing apps, torrent or any apps that facilitate or promote copyright infringement\r\n* Weapons and weapons accessories\r\nRestricted Content\r\nAdvertising Partners may run advertisements that contain the following content, or that promote the following categories of products and services, only as permitted under a selected markets.\r\n* Alcohol content\r\n* Financial services\r\n* Gambling content\r\n* Lotteries content\r\n* Tobacco and tobacco accessories\r\n* Health and pharmaceutical products and services"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "loc": {
              "lines": {
                "from": 25,
                "to": 31
              }
            },
            "file_id": "16LUlxGkHKZp39Q743RlYz9-SatRYccmslCV9-NYzjbE"
          },
          "pageContent": "Prohibited Content for Under Age Users\r\nAdvertising Partners may not use the Eskimi DSP Services to target or re-target to users under the age of 18, nor to websites or apps directed to users under the age of 18. \r\nProhibited Creative Attributes\r\nAdvertising Partners must not serve ads with these creative attributes or behaviors:\r\n* (IAB8) Pop (e.g. Over, Under, or Upon Exit)\r\n* (IAB14) Windows Dialog or Alert Style (e.g., any creative that a user might mistake for an OS or application-level notification rather than an advertisement): This includes, but is not limited to, deceptive ads that resemble user interface elements (e.g., text boxes) and creatives that mimic buttons or icons that claim a functionality that is not there (e.g., play, chat, wink, friends, search buttons)\r\n* (IAB3) Expandable (Automatic)  ads that automatically expand without the users engagement or action (e.g., click, touch)"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "loc": {
              "lines": {
                "from": 32,
                "to": 38
              }
            },
            "file_id": "16LUlxGkHKZp39Q743RlYz9-SatRYccmslCV9-NYzjbE"
          },
          "pageContent": "* Auto-redirect: ads that automatically redirect the user without the users engagement or action (e.g., click, touch)\r\n* (IAB11) Ads that do not ask the user for permission before initiating any downloads/installations/services/fees. \r\nEditorial Content Policies for Advertising Creatives\r\nOur editorial guidelines are in place to ensure that users have a positive user experience with creatives on Eskimi DSP.\r\n* Accurate and clear content: Creatives should be of high editorial quality. Those which are gimmicky, misleading, or of low editorial quality are prohibited.\r\n* Offensive language: Do not include language in creatives that could offend or shock users (e.g., IAB25-4 Profane Content).\r\nEnforcement"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "loc": {
              "lines": {
                "from": 39,
                "to": 39
              }
            },
            "file_id": "16LUlxGkHKZp39Q743RlYz9-SatRYccmslCV9-NYzjbE"
          },
          "pageContent": "Your use of the Eskimi DSP Services is subject to these policies and any agreements you have entered into with Eskimi DSP. If we suspect that an ad is in violation of our policies or agreements, then we may stop it from running, and it may no longer be accepted in Eskimi DSP. In some cases, including but not limited to multiple or severe violations of our rights or policies, we may suspend or terminate your account."
        }
      }
    ]
  },
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Google Drive1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive1": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract from File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File1": {
      "main": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Ollama": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Supabase Vector Store1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader1": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store1",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter1": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader1",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Ollama1": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Answer questions with a vector store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Answer questions with a vector store",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store2": {
      "ai_vectorStore": [
        [
          {
            "node": "Answer questions with a vector store",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Ollama2": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store2",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "aa94d42d-a429-4a9d-8d31-9a75c79677f5",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "41cda2fd113b558b291606966f43b8b2b8e57941022c43cfc15eae1d9727a10b"
  },
  "id": "c9BizQWdm1mUiX2s",
  "tags": []
}